<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: auto;">
        <div id="page-loading">
            <img src="img/logo-header-cl.png" alt="logo-header-cl.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header-cl.png" alt="logo-header-cl.png">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header-cl.png" alt="logo-header-cl.png"
                                            class="header-logo-mobi">
                                    </a>
                                </div>
                                <div class="lang-mobi">

                                </div>
                                <div class="header-search-mobi">
                                    <form action="#">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm...">
                                        <button class="btn f-submit" type="submit ">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                                <ul class="header-menu-nav">
                                    <li class="current-menu">
                                        <a href="#">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="#">Thương hiệu</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Dự án</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Cảm hứng</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Liên hệ</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                                <div class="header-menu-social">
                                    <a href="#" class="menu-social ">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-social ">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-social ">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>

                        <div class="header-act">
                            <div class="header-lang">
                                <div class="box-lang  ">
                                    <select class="vodiapicker">
                                        <option value="VN" class="test" data-thumbnail="">VN
                                        </option>
                                        <option value="EN" data-thumbnail="">EN
                                        </option>
                                    </select>

                                    <div class="lang-select">
                                        <button class="btn-select" value="">
                                        </button>
                                        <div class="lang-content">
                                            <ul id="a"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-search">
                                <div class="search-desktop">
                                    <div class="search-title">
                                        <img src="./img/svg/icon-search.svg" alt="icon-search.svg">
                                    </div>
                                    <form action="#" class="search-form">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm">
                                        <button class="f-submit" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="header-user">
                                <div class="user-title">
                                    <img src="./img/svg/icon-user.svg" alt="icon-user.svg">
                                </div>
                                <div class="user-content">
                                    <div class="user-act">
                                        <ul class="act-list">
                                            <li class="act-item">
                                                <a href="#" class="act-link">
                                                    <p class="act-name f-medium t-capitalize">
                                                        Nguyễn Văn A
                                                    </p>
                                                    <p class="act-email tt-12">
                                                        nguyenvana@gmail.com
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="act-item">
                                                <a href="#" class="act-link">
                                                    Cài đặt tài khoản
                                                </a>
                                            </li>
                                            <li class="act-item">
                                                <a href="#" class="act-link">
                                                    Đăng xuất
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="header-heart">
                                <div class="heart-title">
                                    <img src="./img/svg/icon-heart.svg" alt="icon-heart.svg">
                                </div>

                            </div>
                            <div class="header-cart">
                                <a href="#" class="cart-btn">
                                    <img src="./img/svg/icon-bag.svg" alt="icon-bag.svg">
                                    <div class="qty-cart">2</div>
                                </a>
                            </div>

                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="post-detail" data-aos="fade-up">
                <div class="container">
                    <div class="detail-wrapper">
                        <div class="mona-content ">

                            <div class="mona-img img-w-100 mt-0">
                                <img src="./img/img-post-detail-1.png" alt="img-post-detail-1.png">
                            </div>

                            <div class="mona-box">
                                <div class="mona-day">
                                    22 Tháng 05, 2021
                                </div>
                                <h4 class="main-cl mona-tt f-semibold">Aura color stories</h4>
                                <p class="f-medium tt-24 mona-t">
                                    Lorem ipsum dolor sit amet, consectetur adipisci elit. Non nam aenean convallis
                                    massa lacus id.
                                </p>
                                <p class="mona-desc">Volutpat dictumst molestie diam molestie amet cursus lacinia magna
                                    vitae. Enim non
                                    porta morbi tortor, enim, egestas elit purus. Vitae augue velit cum aliquam aliquet
                                    sagittis urna at. Faucibus sed egestas fringilla pellentesque arcu leo. In convallis
                                    viverra aliquam pharetra tincidunt justo ornare hendrerit elementum. Eget
                                    sollicitudin commodo lectus.</p>

                            </div>

                            <div class="mona-img">
                                <div class="mona-ig img-w-100">
                                    <img src="./img/img-post-detail-2.png" alt="img-post-detail-2.png">
                                </div>

                                <div class="mona-ig img-w-100">
                                    <img src="./img/img-post-detail-3.png" alt="img-post-detail-3.png">
                                </div>
                            </div>

                            <div class="mona-box">
                                <p class="mona-desc">
                                    Vitae augue velit cum aliquam aliquet sagittis urna at. Faucibus sed egestas
                                    fringilla pellentesque arcu leo. In convallis viverra aliquam pharetra tincidunt
                                    justo ornare hendreri.
                                </p>

                                <div class="mona-note">
                                    <img src="./img/ig-dot-phay.png" alt="ig-dot-phay.png" class="mona-icon">
                                    <p class="note-tt tt-24 f-medium">
                                        Our greatest weakness lies in giving up. The most certain way to succeed is
                                        always to tryjust one more time.
                                    </p>
                                    <div class="note-df">
                                        <p class="note-name f-medium">
                                            Mai Anh Thư
                                        </p>
                                        -
                                        <p class="note-job f-medium">
                                            CEO của Công ty ABC
                                        </p>
                                    </div>

                                </div>

                                <p class="mona-desc">
                                    Vitae augue velit cum aliquam aliquet sagittis urna at. Faucibus sed egestas
                                    fringilla pellentesque arcu leo. In convallis viverra aliquam pharetra tincidunt
                                    justo ornare hendreri.
                                </p>

                            </div>

                            <div class="mona-img img-w-100">
                                <img src="./img/img-post-detail-4.png" alt="img-post-detail-4.png">
                            </div>

                            <div class="mona-box">
                                <h4 class="main-cl mona-tx t-uppercase f-semibold">Amet minim mollit </h4>
                                <p class="mona-desc">
                                    Volutpat dictumst molestie diam molestie amet cursus lacinia magna vitae. Enim non
                                    porta morbi tortor, enim, egestas elit purus. Vitae augue velit cum aliquam aliquet
                                    sagittis urna at. Faucibus sed egestas fringilla pellentesque arcu leo. In convallis
                                    viverra aliquam pharetra tincidunt justo ornare hendrerit elementum. Eget
                                    sollicitudin commodo lectus.
                                </p>
                                <ul class="mona-list">
                                    <li>
                                        Volutpat dictumst molestie diam molestie amet
                                    </li>
                                    <li>
                                        Vitae augue velit cum aliquam aliquet sagittis urna at
                                    </li>
                                    <li>
                                        Faucibus sed egestas fringilla pellentesque arcu leo
                                    </li>

                                </ul>

                                <div class="mona-tag">
                                    <div class="tag-text tt-16">
                                        <span class="t-uppercase f-semibold tag-nor">
                                            tag:
                                        </span>
                                        <a href="#" class="tag-t">
                                            Architector,
                                        </a>
                                        <a href="#" class="tag-t">
                                            Unique,
                                        </a>
                                        <a href="#" class="tag-t">
                                            Building
                                        </a>
                                    </div>

                                    <div class="tag-social">
                                        <a href="#" class="social-item">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="social-item">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="social-item">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="mona-change-post">
                                    <a href="#" class="post-prev">
                                        <div class="post-head">
                                            <img src="./img/svg/icon-left.svg" alt="icon-left.svg">
                                            <p class="post-text">
                                                Bài trước
                                            </p>
                                        </div>
                                        <div class="post-tt">
                                            Expert Color Advice and Inspiration
                                        </div>
                                    </a>
                                    <a href="#" class="post-next">
                                        <div class="post-head">
                                            <p class="post-text">
                                                Bài kế tiếp
                                            </p>
                                            <img src="./img/svg/icon-right.svg" alt="icon-right.svg">
                                        </div>
                                        <div class="post-tt">
                                            Aura color stories
                                        </div>
                                    </a>
                                </div>



                            </div>



                        </div>
                    </div>
                </div>
            </section>

            <section class="related-post">
                <div class="container">
                    <div class="post-wrapper">
                        <h3 class="post-title tt-44 f-semibold wow animate__bounceInRight">
                            Các bài viết liên quan
                        </h3>
                        <div class="post-slide swiper-custom" data-aos="fade-up">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="inspi-inner">
                                            <div class="inspi-img img-w-100">
                                                <a href="#">
                                                    <img src="./img/img-inspi-7.png" alt="img-inspi-7.png">
                                                </a>
                                            </div>
                                            <div class="inspi-content">
                                                <a href="#" class="inspi-tt f-semibold tt-18">
                                                    Aura color stories
                                                </a>
                                                <p class="inspi-desc tt-16">
                                                    Lorem ipsum dolor sit amet, consectetur adipis elit. Viverra eu
                                                    aliquam
                                                    cum aliquet nibh. Lacini scelerisque suspendisse sed...
                                                </p>
                                                <a href="#" class="inspi-more">
                                                    <span class="more-text">
                                                        Xem thêm
                                                        <img src="./img/svg/icon-arrow-right-main.svg"
                                                            alt="icon-arrow-right-main.svg">
                                                    </span>
                                                    <div class="inspi-line"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="inspi-inner">
                                            <div class="inspi-img img-w-100">
                                                <a href="#">
                                                    <img src="./img/img-inspi-8.png" alt="img-inspi-8.png">
                                                </a>
                                            </div>
                                            <div class="inspi-content">
                                                <a href="#" class="inspi-tt f-semibold tt-18">
                                                    Aura color stories
                                                </a>
                                                <p class="inspi-desc tt-16">
                                                    Lorem ipsum dolor sit amet, consectetur adipis elit. Viverra eu
                                                    aliquam
                                                    cum aliquet nibh. Lacini scelerisque suspendisse sed...
                                                </p>
                                                <a href="#" class="inspi-more">
                                                    <span class="more-text">
                                                        Xem thêm
                                                        <img src="./img/svg/icon-arrow-right-main.svg"
                                                            alt="icon-arrow-right-main.svg">
                                                    </span>
                                                    <div class="inspi-line"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="inspi-inner">
                                            <div class="inspi-img img-w-100">
                                                <a href="#">
                                                    <img src="./img/img-inspi-9.png" alt="img-inspi-9.png">
                                                </a>
                                            </div>
                                            <div class="inspi-content">
                                                <a href="#" class="inspi-tt f-semibold tt-18">
                                                    Aura color stories
                                                </a>
                                                <p class="inspi-desc tt-16">
                                                    Lorem ipsum dolor sit amet, consectetur adipis elit. Viverra eu
                                                    aliquam
                                                    cum aliquet nibh. Lacini scelerisque suspendisse sed...
                                                </p>
                                                <a href="#" class="inspi-more">
                                                    <span class="more-text">
                                                        Xem thêm
                                                        <img src="./img/svg/icon-arrow-right-main.svg"
                                                            alt="icon-arrow-right-main.svg">
                                                    </span>
                                                    <div class="inspi-line"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-pagination"></div>

                            </div>
                        </div>
                    </div>
                </div>

            </section>



        </main>
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="ft-inner">
                                    <div class="ft-logo">
                                        <a href="#">
                                            <img src="./img/logo-footer.png" alt="logo-footer.png">
                                        </a>
                                    </div>
                                    <p class="ft-desc">
                                        Lorem ipsum dolor sit amet, consecte adipiscing elit. Nulla ut suspend nam
                                        dictum.
                                    </p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <h4 class="ft-title tt-18 f-normal">
                                        Showroom
                                    </h4>
                                    <ul class="ft-list">
                                        <li class="ft-item">
                                            <a href="#" class="ft-link not-center">
                                                <img src="./img/svg/icon-location.svg" alt="icon-location.svg">
                                                Số 7, đường số 10, Khu đô thị Sala, P. An Lợi Đông, TP. Thủ Đức, HCM
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <h4 class="ft-title tt-18 f-normal">
                                        Liên hệ
                                    </h4>
                                    <ul class="ft-list">
                                        <li class="ft-item">
                                            <a href="mailto:phu.nd@international-ips.com" class="ft-link">
                                                <img src="./img/svg/icon-email.svg" alt="icon-email.svg">
                                                phu.nd@international-ips.com
                                            </a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="tel:0909807258" class="ft-link">
                                                <img src="./img/svg/icon-phone.svg" alt="icon-phone.svg">
                                                090 980 72 58
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <h4 class="ft-title tt-18 f-normal">
                                        Đăng ký nhận thông tin
                                    </h4>
                                    <p class="ft-desc">
                                        Đừng bỏ lỡ những thông ting mới nhất cũng như khuyến mãi từ chúng tôi.
                                    </p>
                                    <div class="ft-form">
                                        <form action="#">
                                            <input type="text" class="f-control" placeholder="Đăng kí nhận email">
                                            <button type="submit" class="f-submit btn">
                                                <img src="./img/svg/icon-arrow-right.svg" alt="icon-arrow-right.svg">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="ft-cols">
                        <div class="ft-col">
                            <div class="copy-right">
                                <p>
                                    Designed and Developed by Mona Media
                                </p>
                            </div>
                        </div>
                        <div class="ft-col">
                            <div class="ft-inner">
                                <ul class="ft-list">
                                    <li class="ft-item">
                                        <a href="#" class="ft-link">
                                            Privacy
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href="#" class="ft-link">
                                            Tearms and Conditions
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href="#" class="ft-link">
                                            Policies
                                        </a>
                                    </li>
                                </ul>

                                <div class="ft-social">
                                    <a href="#" class="social-item">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="social-item">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="social-item">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- fixed-social -->
        <div class="fixed-social">
            <a href="tel:0909807258" class="social-item">
                <img src="./img/svg/icon-phone-main.svg" alt="icon-phone-main.svg">
            </a>
            <a href="#" class="social-item">
                <img src="./img/svg/icon-facebook.svg" alt="icon-facebook.svg">
            </a>
            <div class="social-item social-chat">
                <img src="./img/svg/icon-chat.svg" alt="icon-chat.svg">
            </div>

            <!-- form chat -->
            <div class="box-chat">
                <form action="#">
                    <div class="chat-wrap">
                        <div class="chat-head">
                            <p class="chat-title  f-medium">
                                Chat với nhân viên tư vấn
                            </p>

                            <div class="chat-close"></div>
                        </div>
                        <div class="chat-content">
                            <div class="chat-group">
                                <div class="chat-f">
                                    <label class="label">
                                        Vui lòng nhập thông tin <span>*</span>
                                    </label>
                                    <input type="text" class="f-control" placeholder="Tên của bạn *">
                                </div>
                                <div class="chat-f">
                                    <input type="text" class="f-control" placeholder="Email của bạn">
                                </div>
                                <div class="chat-f">
                                    <input type="text" class="f-control" placeholder="Số điện thoại của bạn *">
                                </div>
                            </div>
                            <div class="chat-group">
                                <div class="chat-f">
                                    <label class="label">
                                        Tin nhắn <span>*</span>
                                    </label>
                                    <textarea class="f-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="chat-footer">
                            <button type="submit" class="btn btn-chat">
                                Bắt đầu chat
                                <img src="./img/svg/icon-chat-dot.svg" alt="icon-chat-dot.svg">
                            </button>
                        </div>
                    </div>
                </form>
            </div>



        </div>

        <!-- heart popup -->
        <div class="heart-popup">
            <div class="bg-cart"></div>
            <div class="box-cart">
                <div class="wrapper-box-cart">
                    <div class="head-boxcart">
                        <h3 class="title-name">
                            <img src="./img/svg/icon-heart-1.svg" alt="icon-heart-1.svg">
                            Yêu thích
                            <span> &shy; (1)</span>
                        </h3>
                        <button class="btn-close">
                            <img src="./img/svg/icon-close.svg" alt="icon-close.svg">
                        </button>
                    </div>
                    <div class="container-boxcart">
                        <div class="product-list">
                            <div class="product-item" style="background-color: #FBE7C3;">
                                <a href="#" class="product-name tt-18 f-medium t-capitalize">
                                    Porter Ranch cream
                                </a>
                                <p class="product-num">
                                    148
                                </p>
                                <p class="product-close f-medium">
                                    Xóa
                                </p>
                            </div>
                            <div class="product-item" style="background-color: #FDD0C4;">
                                <a href="#" class="product-name tt-18 f-medium t-capitalize">
                                    Porter Ranch cream
                                </a>
                                <p class="product-num">
                                    148
                                </p>
                                <p class="product-close f-medium">
                                    Xóa
                                </p>
                            </div>
                            <div class="product-item" style="background-color: #F2E4BF;">
                                <a href="#" class="product-name tt-18 f-medium t-capitalize">
                                    Porter Ranch cream
                                </a>
                                <p class="product-num">
                                    148
                                </p>
                                <p class="product-close f-medium">
                                    Xóa
                                </p>
                            </div>
                            <div class="product-item" style="background-color: #D65647;">
                                <a href="#" class="product-name tt-18 f-medium t-capitalize">
                                    Porter Ranch cream
                                </a>
                                <p class="product-num">
                                    148
                                </p>
                                <p class="product-close f-medium">
                                    Xóa
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-boxcart">
                        <a href="#" class="link-heart btn">
                            Gửi màu sắc yêu thích
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>