<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="wrapper" style="height: auto;">
        <div id="page-loading">
            <img src="img/logo-header-cl.png" alt="logo-header-cl.png" />
        </div>

        <main class="main">
            <div class="page-coming" style="background-image: url(./img/img-coming-soon.png);">
                <div class="coming-wrapper">
                    <div class="coming-head">
                        <img src="./img/logo-header.png" alt="logo-header.png">
                    </div>
                    <div class="coming-content">
                        <div class="coming-text">
                            <h3 class="coming-title tt-72 f-semibold t-uppercase">
                                Coming soon
                            </h3>
                            <p class="coming-desc tt-18 f-semibold">
                                Lorem ipsum dolor sit amet, consectetu adipiscing elit. Odio tristique urna, viver
                                ultrices
                                luctus cras at quisque turpis.
                            </p>
                        </div>

                        <div class="coming-web">
                            <p class="f-semibold t-uppercase tt-18 web-tt">Website của chúng tôi sẽ ra mắt trong:</p>
                            <div class="count-down coming-wrap" data-end-time="12/31/2021">
                                <div class="coming-bx">
                                    <div class="day txt"></div>
                                    <p class="coming-t">ngày</p>
                                </div>
                                <div class="coming-bx">
                                    <div class="hours txt"></div>
                                    <p class="coming-t">giờ</p>
                                </div>
                                <div class="coming-bx">
                                    <div class="minutes txt"></div>
                                    <p class="coming-t">phút</p>
                                </div>
                                <div class="coming-bx">
                                    <div class="seconds txt"></div>
                                    <p class="coming-t">giây</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="coming-social">
                        <a href="#" class="social-item">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

        </main>

        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>