<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="wrapper" style="height: auto;">
        <div id="page-loading">
            <img src="img/logo-header-cl.png" alt="logo-header-cl.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header-cl.png" alt="logo-header-cl.png">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header-cl.png" alt="logo-header-cl.png"
                                            class="header-logo-mobi">
                                    </a>
                                </div>
                                <div class="lang-mobi">

                                </div>
                                <div class="header-search-mobi">
                                    <form action="#">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm...">
                                        <button class="btn f-submit" type="submit ">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                                <ul class="header-menu-nav">
                                    <li class="current-menu">
                                        <a href="#">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="#">Thương hiệu</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Dự án</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Cảm hứng</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Liên hệ</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                                <div class="header-menu-social">
                                    <a href="#" class="menu-social ">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-social ">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-social ">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>

                        <div class="header-act">
                            <div class="header-lang">
                                <div class="box-lang  ">
                                    <select class="vodiapicker">
                                        <option value="VN" class="test" data-thumbnail="">VN
                                        </option>
                                        <option value="EN" data-thumbnail="">EN
                                        </option>
                                    </select>

                                    <div class="lang-select">
                                        <button class="btn-select" value="">
                                        </button>
                                        <div class="lang-content">
                                            <ul id="a"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-search">
                                <div class="search-desktop">
                                    <div class="search-title">
                                        <img src="./img/svg/icon-search.svg" alt="icon-search.svg">
                                    </div>
                                    <form action="#" class="search-form">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm">
                                        <button class="f-submit" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="header-user">
                                <div class="user-title">
                                    <img src="./img/svg/icon-user.svg" alt="icon-user.svg">
                                </div>
                                <div class="user-content">
                                    <div class="user-act">
                                        <ul class="act-list">
                                            <li class="act-item">
                                                <a href="#" class="act-link">
                                                    <p class="act-name f-medium t-capitalize">
                                                        Nguyễn Văn A
                                                    </p>
                                                    <p class="act-email tt-12">
                                                        nguyenvana@gmail.com
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="act-item">
                                                <a href="#" class="act-link">
                                                    Cài đặt tài khoản
                                                </a>
                                            </li>
                                            <li class="act-item">
                                                <a href="#" class="act-link">
                                                    Đăng xuất
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="header-heart">
                                <div class="heart-title">
                                    <img src="./img/svg/icon-heart.svg" alt="icon-heart.svg">
                                </div>

                            </div>
                            <div class="header-cart">
                                <a href="#" class="cart-btn">
                                    <img src="./img/svg/icon-bag.svg" alt="icon-bag.svg">
                                    <div class="qty-cart">2</div>
                                </a>
                            </div>

                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">

            <div class="interior-paint">
                <div class="container">
                    <div class="inter-wrapper">
                        <h3 class="inter-title tt-44 f-semibold t-uppercase t-center">
                            Lựa chọn sơn hoàn thiện <br>
                            nội thất:
                        </h3>
                        <div class="mona-content">
                            <div class="mona-cols">
                                <div class="mona-col">
                                    <p>
                                        Nếu tất cả những gì bạn biết về độ bóng của sơn chỉ có sơn bóng, sơn bóng mờ và
                                        sơn mờ
                                        thì từ lâu, Benjamin Moore đã định nghĩa lại cuộc chơi bằng dãy quang phổ ánh
                                        sáng của
                                        riêng mình trong giới sơn dành cho các căn hộ tòa nhà, biệt thự hay những căn
                                        penthouse
                                        cao cấp ở Mỹ, Châu Âu, Hàn Quốc…
                                    </p>
                                </div>

                                <div class="mona-col mo-rt">
                                    <p>
                                        Hơn 138 năm quan sát và học hỏi từ môi trường tự nhiên, Benjamin Moore mang đến
                                        7 cấp độ
                                        khác nhau của độ bóng cho sơn (sheen). Từng bức tường, trần nhà, bếp ăn, nhà
                                        tắm, hành
                                        lang lối đi đến những đường chỉ tường nhỏ nhất đều có thể ứng dụng các sắc thái
                                        màu sắc
                                        riêng biệt. Đồng thời, Benjamin Moore khéo léo lợi dụng ánh sáng để phản chiếu
                                        hoặc hấp
                                        thụ lại, bạn sẽ được truyền tải cảm hứng ngay trong chính ngôi nhà của bạn. Một
                                        nơi bạn
                                        sẽ không bao giờ cảm thấy buồn chán.
                                    </p>
                                </div>
                            </div>

                            <div class="mona-img img-w-100">
                                <img src="./img/img-inter.png" alt="img-inter.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sheen">
                <div class="container">
                    <div class="sheen-wrapper">
                        <div class="sheen-head t-center">
                            <h3 class="sheen-title tt-44 f-semibold t-uppercase">
                                sheen
                            </h3>
                            <p class="sheen-txt">
                                Khi bạn đã chọn xong màu sắc của sơn thì điều bạn quan tâm tiếp theo là việc lựa
                                chọn
                                cấp độ bóng phù hợp. Chúng tôi chắc chắn rằng bạn đang quan tâm về trải nghiệm của 7
                                độ
                                bóng khác nhau của Benjamin Moore:
                            </p>
                        </div>
                        <div class="sheen-content">
                            <div class="columns">
                                <div class="column sheen-tx">
                                    <div class="sheen-inner">
                                        <p class="sheen-num">
                                            3
                                        </p>
                                        <p class="sheen-desc">
                                            <span class="f-semibold">
                                                Eggshell Paint (Hiệu ứng Vỏ trứng):
                                            </span>
                                            Được tin dùng nhiều nhất trong các hệ
                                            sơn của Benjamin Moore là Eggshell paint, với ưu điểm dễ dàng lau chùi, độ
                                            phản chiếu ánh sáng của Eggshell Paint ở mức độ mềm mại, màu sắc tuyệt đẹp,
                                            Aura® Interior Eggshell là sự tự hào của chúng tôi ở dòng sơn cao cấp nhất,
                                            tạo nên xu hướng mà chưa ở đâu bắt kịp.
                                        </p>
                                    </div>
                                </div>
                                <div class="column sheen-sl">
                                    <div class="sheen-slide swiper-pagi">
                                        <div class="swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="sheen-img img-w-100">
                                                        <img src="./img/img-sheen.png" alt="img-sheen.png">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="sheen-img img-w-100">
                                                        <img src="./img/img-sheen.png" alt="img-sheen.png">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="sheen-img img-w-100">
                                                        <img src="./img/img-sheen.png" alt="img-sheen.png">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-arrow">
                                                <div class="swiper-button-prev"></div>
                                                <div class="swiper-button-next"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-act">
                                            <div class="swiper-pagination"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="zero-voc">
                <div class="container">
                    <div class="zero-wrapper">
                        <h3 class="zero-title tt-44 t-uppercase f-semibold t-center">
                            Zero VOC
                        </h3>
                        <div class="zero-cols">
                            <div class="zero-col zero-ig">
                                <div class="zero-img img-w-100">
                                    <img src="./img/img-zero-1.png" alt="img-zero-1.png">
                                </div>
                            </div>
                            <div class="zero-col zero-tx">
                                <div class="zero-text mona-content tt-16">
                                    <p>
                                        Đầu tiên hãy hiểu rằng, các hợp chất hữu cơ dễ bay hơi (VOCs) được thải
                                        ra dưới dạng khí từ một số chất rắn hoặc chất lỏng nhất định. Trên thực tế,
                                        các nghiên cứu đã chỉ ra rằng VOCs trong nhà có thể gây hại cho sức khỏe gấp
                                        5 lần VOCs so với ngoài trời! Các tác động xấu đến sức khỏe có thể bao gồm
                                        kích ứng mắt, mũi và cổ họng, phản ứng dị ứng, đau đầu, chóng mặt và buồn
                                        nôn.
                                    </p>

                                    <div class="mona-list">
                                        <p>Một số nguồn VOC có thể có bao gồm:</p>
                                        <ul>
                                            <li>
                                                Sơn
                                            </li>
                                            <li>
                                                Bình xịt khí
                                            </li>
                                            <li>
                                                Chất tẩy rửa và chất khử trùng
                                            </li>
                                        </ul>
                                    </div>

                                    <p>
                                        Có một số cách để đối phó với VOC!
                                    </p>

                                    <p>
                                        Đầu tiên là tăng cường thông gió trong nhà bằng cách mở cửa sổ và cửa ra
                                        vào, đồng thời bật quạt. Điều này sẽ đảm bảo rằng một nguồn cung cấp không
                                        khí trong lành đi qua.
                                    </p>

                                    <p>
                                        Thứ hai, giảm thiểu mức độ phơi nhiễm bằng cách tìm kiếm các sản phẩm có VOC
                                        thấp, hoặc nếu có thể nên là zero VOC.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="zero-content-t">
                            <div class="zero-img img-w-100">
                                <img src="./img/img-zero-2.png" alt="img-zero-2.png">
                            </div>

                            <div class="zero-text mona-content tt-16">
                                <div class="mona-cols">
                                    <div class="mona-col">
                                        <p class="mt-0">
                                            Tại Benjamin Moore, chúng tôi không ngừng nỗ lực cải tiến sản phẩm của mình
                                            bằng
                                            cách cải tiến các dòng sản phẩm khác nhau để đảm bảo lượng khí thải VOC ở
                                            mức thấp
                                            nhất có thể. Ví dụ, chúng tôi là công ty đầu tiên ở Hoa Kỳ giới thiệu hệ
                                            thống pha
                                            màu bằng nước không VOC ra thị trường và cung cấp nhiều loại sơn ít mùi,
                                            không chứa
                                            VOC. Các loại sơn không VOC này có thể giữ nguyên không VOC ngay cả sau khi
                                            được
                                            nhuộm bằng chất màu trong nước Gennex. Điều này là không thể với các
                                            loại sơn
                                            sử dụng chất tạo màu đa năng.
                                        </p>
                                    </div>

                                    <div class="mona-col">
                                        <div class="mona-list">
                                            <p>
                                                Chúng tôi cố gắng minh bạch nhất bằng cách đưa các mức VOC của tất cả
                                                các sản
                                                phẩm
                                                của chúng tôi vào Bảng dữ liệu kỹ thuật (TDS) tương ứng của chúng. Một
                                                số loại
                                                sơn
                                                của chúng tôi không có VOC bao gồm:
                                            </p>
                                            <ul>
                                                <li>
                                                    Sơn nội thất Aura® - loại sơn cao cấp nhất của chúng tôi
                                                </li>
                                                <li>
                                                    Sơn nội thất Regal® - một sản phẩm đáng tin cậy đã có hơn 50 năm
                                                </li>
                                                <li>
                                                    Sơn nội thất ben® - dòng đặc trưng của chúng tôi
                                                </li>
                                                <li>
                                                    Sơn nội thất Ultra Spec® 500 - Ngay cả các loại sơn thương mại của
                                                    chúng tôi
                                                    cũng không có VOC!
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="color-technology">
                <div class="container">
                    <div class="tech-wrapper">
                        <h3 class="tech-title tt-44 f-semibold t-uppercase t-center">
                            Công nghệ màu Gennex®
                        </h3>
                        <div class="tech-content">
                            <div class="tech-item">
                                <div class="columns">
                                    <div class="column tech-tx">
                                        <h4 class="tech-tt tt-18 f-semibold">
                                            Khám phá khoa học đằng sau chất lượng của Benjamin Moore.
                                        </h4>
                                        <div class="tech-desc tt-16 mona-content">
                                            <p>
                                                Hơn mười năm trước, chúng tôi đã cải tiến toàn bộ quy trình sản xuất sơn
                                                của
                                                mình - với máy pha màu mới, công thức mới và chất tạo màu mới. Và công
                                                nghệ
                                                màu Gennex® độc quyền của chúng tôi mang lại màu sắc tuyệt đẹp và độ bền
                                                vượt trội để đảm bảo màu sắc Benjamin Moore mà bạn yêu thích tồn tại
                                                trong
                                                nhiều năm. Đây là "lý do" đằng sau chất lượng nổi tiếng của Benjamin
                                                Moore.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column tech-ig">
                                        <div class="tech-img img-w-100">
                                            <img src="./img/img-tech-1.png" alt="img-tech-1.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tech-item">
                                <div class="columns">
                                    <div class="column tech-tx">
                                        <h4 class="tech-tt tt-18 f-semibold f-italic">
                                            “HÓA CHẤT CHỨA TRONG SƠN CÓ THỂ NGĂN SƠN ĐẠT ĐƯỢC MÀU SẮC BẠN MONG MUỐN.
                                            VÌ VẬY CHÚNG TÔI ĐÃ LOẠI BỎ CHÚNG. ”
                                        </h4>
                                        <div class="tech-desc tt-16 mona-content">
                                            <p>
                                                Hầu hết các chất tạo màu sơn thông thường yêu cầu thêm một số hóa chất
                                                nhất định để chúng có thể dễ dàng trộn vào bất kỳ loại sơn nào.
                                            </p>
                                            <p>
                                                Chúng tôi nhận ra rằng nếu chúng tôi tự sản xuất chất tạo màu, được
                                                thiết kế đặc biệt cho sơn của chúng tôi, chúng tôi có thể loại bỏ các
                                                hóa chất không cần thiết làm suy yếu sơn. Kết quả mà chúng tôi đưa ra là
                                                một công thức tốt hơn, mạnh hơn và đơn giản hơn.

                                            </p>
                                        </div>
                                    </div>
                                    <div class="column tech-ig">
                                        <div class="tech-img img-w-100">
                                            <img src="./img/img-tech-2.png" alt="img-tech-2.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tech-item">
                                <div class="columns">
                                    <div class="column tech-tx">
                                        <h4 class="tech-tt tt-18 f-semibold">
                                            GIẢN ‘ SO SÁNH ’MÀU SƠN BENJAMIN MOORE Ở MỘT THƯƠNG HIỆU KHÁC. VÌ GENNEX
                                            LÀ LÝ DO. ”
                                        </h4>
                                        <div class="tech-desc tt-16 mona-content">
                                            <p>
                                                Chất tạo màu trong nước Gennex® mang lại cho sơn của chúng tôi màu sắc
                                                rực rỡ kéo dài trong nhiều năm. Sự nhất quán về màu sắc của chúng tôi là
                                                kết quả chính xác của sơn Benjamin Moore và chất tạo màu Benjamin Moore
                                                Gennex. Sự kết hợp đặc biệt này là điều khiến các sản phẩm của Benjamin
                                                Moore không thể sao chép.
                                            </p>
                                            <p>
                                                Những gì bạn thấy - và yêu thích - trong cửa hàng Benjamin Moore, là
                                                những gì bạn nhận được ở nhà.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column tech-ig">
                                        <div class="tech-img img-w-100">
                                            <img src="./img/img-tech-3.png" alt="img-tech-3.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="environment">
                <div class="environ-ig">
                    <div class="environ-img img-w-100">
                        <img src="./img/img-environ.png" alt="img-environ.png">
                    </div>
                </div>
                <div class="container">
                    <div class="environ-immer">
                        <h3 class="environ-title tt-44 f-semibold t-uppercase">
                            Trách nhiệm với môi trường
                        </h3>
                        <div class="mona-content tt-16">
                            <p>
                                Khi chúng tôi ra mắt Gennex®, chúng tôi là công ty đầu tiên ở Hoa Kỳ giới thiệu hệ
                                thống pha màu trong nước không VOC
                            </p>
                            <p>
                                Sự đổi mới của Gennex® cho phép sơn không VOC của chúng tôi vẫn không VOC ngay cả
                                sau khi được pha màu bằng chất tạo màu Gennex®, điều không thể xảy ra với chất tạo
                                màu đa năng, thông thường.
                            </p>
                            <p>
                                Gennex® là minh chứng cho sự cống hiến của Benjamin Moore trong việc đáp ứng hoặc
                                vượt qua các tiêu chuẩn môi trường nghiêm ngặt nhất. Với hơn 3.500 màu, bạn có thể
                                chọn chính xác màu mình cần và biết rằng bạn có trách nhiệm với môi trường với từng
                                màu trong số đó.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="science-art">
                <div class="container">
                    <div class="art-wrapper">

                        <h3 class="art-title tt-44 f-semibolid t-uppercase">
                            Công nghệ ColorLock® -
                            sự kết hợp hoàn hảo giữa
                            khoa học và nghệ thuật.
                        </h3>

                        <div class="columns">
                            <div class="column art-ig">
                                <div class="art-img img-w-100">
                                    <img src="./img/img-art.png" alt="img-art.png">
                                </div>
                            </div>
                            <div class="column art-tx">
                                <div class="art-inner">
                                    <div class="mona-content tt-16">
                                        <p class="mt-0">
                                            Công nghệ ColorLock® liên kết chặt chẽ các sắc tố màu chất lượng cao nhất
                                            với
                                            sơn để mang lại kết quả phi thường. Các chất màu bị khóa vào màng sơn và
                                            tạo
                                            thành cấu trúc vững chắc.
                                        </p>
                                        <p>
                                            Sơn Aura sử dụng ít lớp sơn hơn và khô nhanh hơn để tạo ra lớp sơn hoàn
                                            thiện đặc biệt bền và mịn.. Bạn sẽ nhận được kết quả vượt trội giúp bạn
                                            tiết kiệm thời gian và tiền bạc.
                                        </p>
                                    </div>
                                    <p class="art-tt tt-18 f-italic f-semibold t-uppercase">
                                        “CÔNG NGHỆ KHÓA MÀU SẮC MANG LẠI CHO BẠN LỢI THẾ KHÔNG LOẠI SƠN NÀO KHÁC CÓ”
                                    </p>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="formula">
                <div class="container">
                    <div class="formula-wrapper">
                        <div class="formula-head">
                            <h3 class="formula-title tt-44 f-semibold t-uppercase">
                                Công thức chống <br>
                                trầy xước độc quyền
                            </h3>
                            <p class="formula-text tt-16">
                                Ultra Spec® SCUFF-X® từng đoạt giải thưởng là loại sơn một thành phần mang tính cách
                                mạng, có khả năng chống trầy xước trước khi sơn bắt đầu. Được chế tạo cho các chuyên
                                gia, nó được thiết kế với khả năng bảo vệ tiên tiến chống lại sự va quệt.
                            </p>
                        </div>

                        <div class="formula-content">

                            <div class="formula-ig img-w-100">
                                <img src="./img/img-formula-1.png" alt="img-formula-1.png">
                            </div>

                            <div class="columns">
                                <div class="column for-tx">
                                    <div class="formula-inner mona-content tt-16">
                                        <p class=" mt-0">
                                            SCUFF-X mang lại khả năng chống va đập vượt trội so với các sản phẩm cạnh
                                            tranh hàng đầu được thiết kế cho các khu vực mật độ lưu thông cao.
                                        </p>

                                        <p>
                                            Công thức chống trầy xước của chúng tôi chống lại sự trầy xước ngay từ đầu,
                                            dẫn đến việc bảo trì tối thiểu.
                                        </p>

                                        <p class="f-semibold">
                                            Vẫn không tin chúng tôi?
                                        </p>

                                        <p class="f-semibold">
                                            Hãy xem video dưới đây, bạn sẽ bất ngờ về công nghệ chống trầy
                                            xước độc quyền
                                        </p>

                                        <a href="#" class="mona-link">
                                            https://www.youtube.com/watch?v=YepXTpDoPUw&t=34s
                                        </a>
                                    </div>
                                </div>

                                <div class="column for-ig">
                                    <div class="formula-img img-w-100">
                                        <img src="./img/img-formula-2.png" alt="img-formula-2.png">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>



        </main>
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="ft-inner">
                                    <div class="ft-logo">
                                        <a href="#">
                                            <img src="./img/logo-footer.png" alt="logo-footer.png">
                                        </a>
                                    </div>
                                    <p class="ft-desc">
                                        Lorem ipsum dolor sit amet, consecte adipiscing elit. Nulla ut suspend nam
                                        dictum.
                                    </p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <h4 class="ft-title tt-18 f-normal">
                                        Showroom
                                    </h4>
                                    <ul class="ft-list">
                                        <li class="ft-item">
                                            <a href="#" class="ft-link not-center">
                                                <img src="./img/svg/icon-location.svg" alt="icon-location.svg">
                                                Số 7, đường số 10, Khu đô thị Sala, P. An Lợi Đông, TP. Thủ Đức, HCM
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <h4 class="ft-title tt-18 f-normal">
                                        Liên hệ
                                    </h4>
                                    <ul class="ft-list">
                                        <li class="ft-item">
                                            <a href="mailto:phu.nd@international-ips.com" class="ft-link">
                                                <img src="./img/svg/icon-email.svg" alt="icon-email.svg">
                                                phu.nd@international-ips.com
                                            </a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="tel:0909807258" class="ft-link">
                                                <img src="./img/svg/icon-phone.svg" alt="icon-phone.svg">
                                                090 980 72 58
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <h4 class="ft-title tt-18 f-normal">
                                        Đăng ký nhận thông tin
                                    </h4>
                                    <p class="ft-desc">
                                        Đừng bỏ lỡ những thông ting mới nhất cũng như khuyến mãi từ chúng tôi.
                                    </p>
                                    <div class="ft-form">
                                        <form action="#">
                                            <input type="text" class="f-control" placeholder="Đăng kí nhận email">
                                            <button type="submit" class="f-submit btn">
                                                <img src="./img/svg/icon-arrow-right.svg" alt="icon-arrow-right.svg">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="ft-cols">
                        <div class="ft-col">
                            <div class="copy-right">
                                <p>
                                    Designed and Developed by Mona Media
                                </p>
                            </div>
                        </div>
                        <div class="ft-col">
                            <div class="ft-inner">
                                <ul class="ft-list">
                                    <li class="ft-item">
                                        <a href="#" class="ft-link">
                                            Privacy
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href="#" class="ft-link">
                                            Tearms and Conditions
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href="#" class="ft-link">
                                            Policies
                                        </a>
                                    </li>
                                </ul>

                                <div class="ft-social">
                                    <a href="#" class="social-item">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="social-item">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="social-item">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- fixed-social -->
        <div class="fixed-social">
            <a href="tel:0909807258" class="social-item">
                <img src="./img/svg/icon-phone-main.svg" alt="icon-phone-main.svg">
            </a>
            <a href="#" class="social-item">
                <img src="./img/svg/icon-facebook.svg" alt="icon-facebook.svg">
            </a>
            <div class="social-item social-chat">
                <img src="./img/svg/icon-chat.svg" alt="icon-chat.svg">
            </div>

            <!-- form chat -->
            <div class="box-chat">
                <form action="#">
                    <div class="chat-wrap">
                        <div class="chat-head">
                            <p class="chat-title  f-medium">
                                Chat với nhân viên tư vấn
                            </p>

                            <div class="chat-close"></div>
                        </div>
                        <div class="chat-content">
                            <div class="chat-group">
                                <div class="chat-f">
                                    <label class="label">
                                        Vui lòng nhập thông tin <span>*</span>
                                    </label>
                                    <input type="text" class="f-control" placeholder="Tên của bạn *">
                                </div>
                                <div class="chat-f">
                                    <input type="text" class="f-control" placeholder="Email của bạn">
                                </div>
                                <div class="chat-f">
                                    <input type="text" class="f-control" placeholder="Số điện thoại của bạn *">
                                </div>
                            </div>
                            <div class="chat-group">
                                <div class="chat-f">
                                    <label class="label">
                                        Tin nhắn <span>*</span>
                                    </label>
                                    <textarea class="f-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="chat-footer">
                            <button type="submit" class="btn btn-chat">
                                Bắt đầu chat
                                <img src="./img/svg/icon-chat-dot.svg" alt="icon-chat-dot.svg">
                            </button>
                        </div>
                    </div>
                </form>
            </div>



        </div>

        <!-- heart popup -->
        <div class="heart-popup">
            <div class="bg-cart"></div>
            <div class="box-cart">
                <div class="wrapper-box-cart">
                    <div class="head-boxcart">
                        <h3 class="title-name">
                            <img src="./img/svg/icon-heart-1.svg" alt="icon-heart-1.svg">
                            Yêu thích
                            <span> &shy; (1)</span>
                        </h3>
                        <button class="btn-close">
                            <img src="./img/svg/icon-close.svg" alt="icon-close.svg">
                        </button>
                    </div>
                    <div class="container-boxcart">
                        <div class="product-list">
                            <div class="product-item" style="background-color: #FBE7C3;">
                                <a href="#" class="product-name tt-18 f-medium t-capitalize">
                                    Porter Ranch cream
                                </a>
                                <p class="product-num">
                                    148
                                </p>
                                <p class="product-close f-medium">
                                    Xóa
                                </p>
                            </div>
                            <div class="product-item" style="background-color: #FDD0C4;">
                                <a href="#" class="product-name tt-18 f-medium t-capitalize">
                                    Porter Ranch cream
                                </a>
                                <p class="product-num">
                                    148
                                </p>
                                <p class="product-close f-medium">
                                    Xóa
                                </p>
                            </div>
                            <div class="product-item" style="background-color: #F2E4BF;">
                                <a href="#" class="product-name tt-18 f-medium t-capitalize">
                                    Porter Ranch cream
                                </a>
                                <p class="product-num">
                                    148
                                </p>
                                <p class="product-close f-medium">
                                    Xóa
                                </p>
                            </div>
                            <div class="product-item" style="background-color: #D65647;">
                                <a href="#" class="product-name tt-18 f-medium t-capitalize">
                                    Porter Ranch cream
                                </a>
                                <p class="product-num">
                                    148
                                </p>
                                <p class="product-close f-medium">
                                    Xóa
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-boxcart">
                        <a href="#" class="link-heart btn">
                            Gửi màu sắc yêu thích
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>