<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: auto;">
        <div id="page-loading">
            <img src="img/logo-header-cl.png" alt="logo-header-cl.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header-cl.png" alt="logo-header-cl.png">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header-cl.png" alt="logo-header-cl.png"
                                            class="header-logo-mobi">
                                    </a>
                                </div>
                                <div class="lang-mobi">

                                </div>
                                <div class="header-search-mobi">
                                    <form action="#">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm...">
                                        <button class="btn f-submit" type="submit ">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                                <ul class="header-menu-nav">
                                    <li class="current-menu">
                                        <a href="#">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="#">Thương hiệu</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Dự án</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Cảm hứng</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Liên hệ</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                                <div class="header-menu-social">
                                    <a href="#" class="menu-social ">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-social ">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-social ">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>

                        <div class="header-act">
                            <div class="header-lang">
                                <div class="box-lang  ">
                                    <select class="vodiapicker">
                                        <option value="VN" class="test" data-thumbnail="">VN
                                        </option>
                                        <option value="EN" data-thumbnail="">EN
                                        </option>
                                    </select>

                                    <div class="lang-select">
                                        <button class="btn-select" value="">
                                        </button>
                                        <div class="lang-content">
                                            <ul id="a"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-search">
                                <div class="search-desktop">
                                    <div class="search-title">
                                        <img src="./img/svg/icon-search.svg" alt="icon-search.svg">
                                    </div>
                                    <form action="#" class="search-form">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm">
                                        <button class="f-submit" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="header-user">
                                <div class="user-title">
                                    <img src="./img/svg/icon-user.svg" alt="icon-user.svg">
                                </div>
                                <div class="user-content">
                                    <div class="user-act">
                                        <ul class="act-list">
                                            <li class="act-item">
                                                <a href="#" class="act-link">
                                                    <p class="act-name f-medium t-capitalize">
                                                        Nguyễn Văn A
                                                    </p>
                                                    <p class="act-email tt-12">
                                                        nguyenvana@gmail.com
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="act-item">
                                                <a href="#" class="act-link">
                                                    Cài đặt tài khoản
                                                </a>
                                            </li>
                                            <li class="act-item">
                                                <a href="#" class="act-link">
                                                    Đăng xuất
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="header-heart">
                                <div class="heart-title">
                                    <img src="./img/svg/icon-heart.svg" alt="icon-heart.svg">
                                </div>

                            </div>
                            <div class="header-cart">
                                <a href="#" class="cart-btn">
                                    <img src="./img/svg/icon-bag.svg" alt="icon-bag.svg">
                                    <div class="qty-cart">2</div>
                                </a>
                            </div>

                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="why-stoopen-meeus">
                <div class="container">
                    <div class="meeus-af t-uppercase ">
                        ABOUT
                    </div>
                    <div class="meeus-wrapper">
                        <div class="paint-head t-center">
                            <p class="paint-label paint-af paint-af t-uppercase f-semibold wow animate__fadeInDown">
                                why stoopen & meeus
                            </p>
                            <h3 class="paint-title tt-44 t-uppercase f-semibold wow animate__bounceIn">
                                tại sao là stoopen & meeus
                            </h3>
                        </div>
                        <div class="mona-content t-center" data-aos="fade-up">
                            <div class="meeus-img img-w-100">
                                <img src="./img/img-meeus.png" alt="img-meeus.png">
                            </div>

                            <p class="meeus-desc tt-18">
                                Stoopen & Meeus với hơn 125 năm sản xuất bột màu và sơn từ các khoáng chất tự nhiên. Các
                                sản phẩm sơn của Stoopen & Meeus khác hẳn tất cả những gì bạn thường thấy. Stoopen &
                                Meeus đáp ứng được các thiết kế mang trái tim của nét kiến trúc Châu Âu. Các hiệu ứng
                                của Stoopen & Meeus giúp bạn tạo ấn tượng ngay từ phòng khách, các khu vực dễ ẩm ướct
                                như bồn rửa tay, nhà tắm, hay thậm chí là hầm rượu tư gia nhà bạn cũng trở nên đẹp hơn
                                và ấm áp hơn. Chúng tôi cũng yêu môi trường giống như bạn, vì 1 trái đất xanh cho thế hệ
                                mai sau, Stoopen & Meeus đã giữ lời hứa ấy hơn 1 thế kỷ qua và sẽ tiếp tục sẵn sàng cho
                                100 năm tới
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <section class="project">
                <div class="container">
                    <div class="project-wrapper">
                        <div class="columns">
                            <div class="column pro-tx">
                                <div class="project-inner">
                                    <div class="paint-head">
                                        <p class="paint-label f-semibold t-uppercase wow animate__fadeInDown">
                                            project
                                        </p>
                                        <h3 class="paint-title tt-44 f-semibold t-uppercase wow animate__lightSpeedInRight">
                                            Dự án nổi bật
                                        </h3>
                                    </div>
                                    <p class="project-desc tt-16">
                                        Các chủ sở hữu tư nhân muốn sở hữu Dryvit những lớp hoàn thiện bên ngoài cao cấp
                                        cho ngôi nhà của họ, và Dryvit đã nỗ lực thương mại hóa để đáp ứng những mong
                                        đợi đó.
                                        <br> <br>
                                        Dryvit tự hào đem đến sự đa dạng và phong phú về các hệ hoàn thiện khác nhau từ
                                        stucco, Limestone, hiệu ứng đá granite, kim loại, gạch và vân gỗ với hầu hết các
                                        màu sắc trong tự nhiên và có thể tùy chỉnh theo nhu cầu thiết kế, cho ngôi nhà
                                        của bạn.
                                    </p>
                                </div>
                            </div>
                            <div class="column pro-ig" data-aos="fade-up">
                                <div class="project-slide swiper-pagi">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="project-img">
                                                    <img src="./img/img-project.png" alt="img-project.png">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project-img">
                                                    <img src="./img/img-project.png" alt="img-project.png">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project-img">
                                                    <img src="./img/img-project.png" alt="img-project.png">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project-img">
                                                    <img src="./img/img-project.png" alt="img-project.png">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project-img">
                                                    <img src="./img/img-project.png" alt="img-project.png">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project-img">
                                                    <img src="./img/img-project.png" alt="img-project.png">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="swiper-act">
                                            <div class="swiper-pagination"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="stoopen-meeus">
                <div class="meeus-af"  data-aos="zoom-in">
                    stoopen & meeus
                </div>
                <div class="container">
                    <div class="meeus-wrapper">
                        <div class="meeus-wrap">
                            <div class="meeus-cols">
                                <div class="meeus-col meeus-ig" data-aos="fade-up-right">
                                    <div class="meeus-img img-w-100">
                                        <img src="./img/img-meeus-1.png" alt="img-meeus-1.png">
                                    </div>
                                </div>
                                <div class="meeus-col meeus-tx">
                                    <div class="meeus-inner">
                                        <h4 class="meeus-tt tt-64 t-uppercase f-bold">
                                            stuc
                                        </h4>

                                        <div class="meeus-text">
                                            <p class="meeus-say tt-18 f-italic">
                                                “Thành phần khoáng chất hoàn toàn từ thiên nhiên, mang sự rắn chắc của
                                                bê
                                                tông – cứng cáp và kháng nước.”
                                            </p>
                                            <p class="meeus-desc tt-16">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id eget nunc,
                                                semper arcu nisl. Eu, orci sed ut malesuada quam nunc pellentesque...
                                            </p>
                                            <a href="#" class="meeus-link tt-16 t-uppercase f-semibold">
                                                Xem thêm
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="meeus-wrap reverse-meeus">
                            <div class="meeus-cols">
                                <div class="meeus-col meeus-ig" data-aos="fade-down-left">
                                    <div class="meeus-img img-w-100">
                                        <img src="./img/img-meeus-2.png" alt="img-meeus-2.png">
                                    </div>
                                </div>
                                <div class="meeus-col meeus-tx">
                                    <div class="meeus-inner">
                                        <h4 class="meeus-tt tt-64 t-uppercase f-bold">
                                            ConQrete
                                        </h4>

                                        <div class="meeus-text">
                                            <p class="meeus-say tt-18 f-italic">
                                                “Vẻ đẹp thuần khiết của bê tông trần!”
                                            </p>
                                            <p class="meeus-desc tt-16">
                                                ConQrete là sự lựa chọn hoàn hảo cho xu hướng thiết kế nội thất theo
                                                phong cách ‘industrial chic’ hiện nay. ConQrete mang đến cảm giác ấm áp
                                                và gần gũi cho môi trường sống và làm việc của bạn.
                                            </p>
                                            <a href="#" class="meeus-link tt-16 t-uppercase f-semibold">
                                                Xem thêm
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="meeus-wrap">
                            <div class="meeus-cols">
                                <div class="meeus-col meeus-ig" data-aos="fade-up-right">
                                    <div class="meeus-img img-w-100">
                                        <img src="./img/img-meeus-3.png" alt="img-meeus-3.png">
                                    </div>
                                </div>
                                <div class="meeus-col meeus-tx">
                                    <div class="meeus-inner">
                                        <h4 class="meeus-tt tt-64 t-uppercase f-bold">
                                            Crustal
                                        </h4>

                                        <div class="meeus-text">
                                            <p class="meeus-say tt-18 f-italic">
                                                “Định nghĩa đích thực của tạo hình tự nhiên”
                                            </p>
                                            <p class="meeus-desc tt-16">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id eget nunc,
                                                semper arcu nisl. Eu, orci sed ut malesuada quam nunc pellentesque...
                                            </p>
                                            <a href="#" class="meeus-link tt-16 t-uppercase f-semibold">
                                                Xem thêm
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>





        </main>
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="ft-inner">
                                    <div class="ft-logo">
                                        <a href="#">
                                            <img src="./img/logo-footer.png" alt="logo-footer.png">
                                        </a>
                                    </div>
                                    <p class="ft-desc">
                                        Lorem ipsum dolor sit amet, consecte adipiscing elit. Nulla ut suspend nam
                                        dictum.
                                    </p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <h4 class="ft-title tt-18 f-normal">
                                        Showroom
                                    </h4>
                                    <ul class="ft-list">
                                        <li class="ft-item">
                                            <a href="#" class="ft-link not-center">
                                                <img src="./img/svg/icon-location.svg" alt="icon-location.svg">
                                                Số 7, đường số 10, Khu đô thị Sala, P. An Lợi Đông, TP. Thủ Đức, HCM
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <h4 class="ft-title tt-18 f-normal">
                                        Liên hệ
                                    </h4>
                                    <ul class="ft-list">
                                        <li class="ft-item">
                                            <a href="mailto:phu.nd@international-ips.com" class="ft-link">
                                                <img src="./img/svg/icon-email.svg" alt="icon-email.svg">
                                                phu.nd@international-ips.com
                                            </a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="tel:0909807258" class="ft-link">
                                                <img src="./img/svg/icon-phone.svg" alt="icon-phone.svg">
                                                090 980 72 58
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <h4 class="ft-title tt-18 f-normal">
                                        Đăng ký nhận thông tin
                                    </h4>
                                    <p class="ft-desc">
                                        Đừng bỏ lỡ những thông ting mới nhất cũng như khuyến mãi từ chúng tôi.
                                    </p>
                                    <div class="ft-form">
                                        <form action="#">
                                            <input type="text" class="f-control" placeholder="Đăng kí nhận email">
                                            <button type="submit" class="f-submit btn">
                                                <img src="./img/svg/icon-arrow-right.svg" alt="icon-arrow-right.svg">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="ft-cols">
                        <div class="ft-col">
                            <div class="copy-right">
                                <p>
                                    Designed and Developed by Mona Media
                                </p>
                            </div>
                        </div>
                        <div class="ft-col">
                            <div class="ft-inner">
                                <ul class="ft-list">
                                    <li class="ft-item">
                                        <a href="#" class="ft-link">
                                            Privacy
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href="#" class="ft-link">
                                            Tearms and Conditions
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href="#" class="ft-link">
                                            Policies
                                        </a>
                                    </li>
                                </ul>

                                <div class="ft-social">
                                    <a href="#" class="social-item">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="social-item">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="social-item">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- fixed-social -->
        <div class="fixed-social">
            <a href="tel:0909807258" class="social-item">
                <img src="./img/svg/icon-phone-main.svg" alt="icon-phone-main.svg">
            </a>
            <a href="#" class="social-item">
                <img src="./img/svg/icon-facebook.svg" alt="icon-facebook.svg">
            </a>
            <div class="social-item social-chat">
                <img src="./img/svg/icon-chat.svg" alt="icon-chat.svg">
            </div>

            <!-- form chat -->
            <div class="box-chat">
                <form action="#">
                    <div class="chat-wrap">
                        <div class="chat-head">
                            <p class="chat-title  f-medium">
                                Chat với nhân viên tư vấn
                            </p>

                            <div class="chat-close"></div>
                        </div>
                        <div class="chat-content">
                            <div class="chat-group">
                                <div class="chat-f">
                                    <label class="label">
                                        Vui lòng nhập thông tin <span>*</span>
                                    </label>
                                    <input type="text" class="f-control" placeholder="Tên của bạn *">
                                </div>
                                <div class="chat-f">
                                    <input type="text" class="f-control" placeholder="Email của bạn">
                                </div>
                                <div class="chat-f">
                                    <input type="text" class="f-control" placeholder="Số điện thoại của bạn *">
                                </div>
                            </div>
                            <div class="chat-group">
                                <div class="chat-f">
                                    <label class="label">
                                        Tin nhắn <span>*</span>
                                    </label>
                                    <textarea class="f-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="chat-footer">
                            <button type="submit" class="btn btn-chat">
                                Bắt đầu chat
                                <img src="./img/svg/icon-chat-dot.svg" alt="icon-chat-dot.svg">
                            </button>
                        </div>
                    </div>
                </form>
            </div>



        </div>

        <!-- heart popup -->
        <div class="heart-popup">
            <div class="bg-cart"></div>
            <div class="box-cart">
                <div class="wrapper-box-cart">
                    <div class="head-boxcart">
                        <h3 class="title-name">
                            <img src="./img/svg/icon-heart-1.svg" alt="icon-heart-1.svg">
                            Yêu thích
                            <span> &shy; (1)</span>
                        </h3>
                        <button class="btn-close">
                            <img src="./img/svg/icon-close.svg" alt="icon-close.svg">
                        </button>
                    </div>
                    <div class="container-boxcart">
                        <div class="product-list">
                            <div class="product-item" style="background-color: #FBE7C3;">
                                <a href="#" class="product-name tt-18 f-medium t-capitalize">
                                    Porter Ranch cream
                                </a>
                                <p class="product-num">
                                    148
                                </p>
                                <p class="product-close f-medium">
                                    Xóa
                                </p>
                            </div>
                            <div class="product-item" style="background-color: #FDD0C4;">
                                <a href="#" class="product-name tt-18 f-medium t-capitalize">
                                    Porter Ranch cream
                                </a>
                                <p class="product-num">
                                    148
                                </p>
                                <p class="product-close f-medium">
                                    Xóa
                                </p>
                            </div>
                            <div class="product-item" style="background-color: #F2E4BF;">
                                <a href="#" class="product-name tt-18 f-medium t-capitalize">
                                    Porter Ranch cream
                                </a>
                                <p class="product-num">
                                    148
                                </p>
                                <p class="product-close f-medium">
                                    Xóa
                                </p>
                            </div>
                            <div class="product-item" style="background-color: #D65647;">
                                <a href="#" class="product-name tt-18 f-medium t-capitalize">
                                    Porter Ranch cream
                                </a>
                                <p class="product-num">
                                    148
                                </p>
                                <p class="product-close f-medium">
                                    Xóa
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-boxcart">
                        <a href="#" class="link-heart btn">
                            Gửi màu sắc yêu thích
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>