.main-cl {
    color: $main-cl;
}

.b-cl {
    color: $b-cl;
}

.w-cl {
    color: $w-cl;
}

.f-medium {
    font-weight: 500;
}

.f-semibold {
    font-weight: 600;
}


//code
.paint-head {
    margin-bottom: 48px;

    @include max-media($bk-d-1200) {
        margin-bottom: 30px;
    }

    @include max-media($bk-d-992) {
        margin-bottom: 20px;
    }

    @include max-media($bk-d-768) {
        margin-bottom: 15px;
    }

    .paint-label {
        margin-bottom: 24px;
        line-height: 1.1;
        letter-spacing: 3px;

        @include max-media($bk-d-1200) {
            margin-bottom: 15px;
        }

        @include max-media($bk-d-992) {
            margin-bottom: 10px;
        }

        @include max-media($bk-d-768) {
            margin-bottom: 5px;
        }

        &::before {
            content: '';
            width: 24px;
            height: 1px;
            margin-right: 16px;
            display: inline-block;
            vertical-align: middle;
            background-color: $w-cl;
        }

        &.paint-af {
            &::after {
                content: '';
                width: 24px;
                height: 1px;
                margin-left: 16px;
                display: inline-block;
                vertical-align: middle;
                background-color: $w-cl;
            }
        }
    }

    .paint-title {
        line-height: 1.2;
    }
}

.fixed-social {
    position: fixed;
    right: 40px;
    bottom: 88px;
    z-index: 99;

    @include max-media($bk-d-992) {
        right: 20px;
    }

    @include max-media($bk-576) {
        right: 10px;
    }

    .social-item {
        @include flex-mid;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        box-shadow: 0px 0px 8px rgba($color: $b-cl, $alpha: .16);
        background-color: $w-cl;
        margin-left: auto;
        cursor: pointer;

        &:not(:first-child) {
            margin-top: 8px;
        }
    }

    .social-chat {
        position: relative;
    }

    .box-chat {
        transition: all .3s ease;
        margin-top: -40px;
        display: none;

        &.active {
            display: block;
        }
    }
}

.box-chat {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    background-color: $w-cl;
    box-shadow: 0 10px 12px rgba($color: $b-cl, $alpha: .12);
    font-size: 12px;
    width: 290px;
    z-index: 1;
    position: relative;

    .chat-head {
        background-color: $main-cl;
        color: $w-cl;
        text-align: center;
        padding: 4px 0 5px;
        position: relative;

        .chat-title {
            line-height: 1.2;
        }

        .chat-close {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 23px;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 8px;
                transform: translateY(-50%);
                width: 10px;
                height: 1px;
                background-color: $w-cl;
            }
        }
    }

    .chat-content {
        padding: 16px;

        .chat-group {
            &:nth-child(2) {
                margin-top: 16px;
            }
        }

        .label {
            display: flex;
            align-items: center;
            font-weight: 500;

            span {
                color: #E41A28;
            }
        }

        .f-control {
            margin-top: 8px;
            background-color: #EFEFEF;
            border-radius: 2px;
            height: 24px;
            padding: 4px 8px;
            transition: all .3s ease;
            border: 1px solid transparent;

            &:hover,
            &:focus {
                border-color: $main-cl;
            }

            &::placeholder {
                color: $g-7C7C-cl;
                font-style: italic;
            }
        }

        textarea.f-control {
            height: 72px;
            resize: none;
        }
    }

    .chat-footer {
        border-top: 1px solid rgba($color: $b-cl, $alpha: .12);
        padding: 16px;

        .btn-chat {
            background-color: $main-cl;
            border-radius: 2px;
            color: $w-cl;
            height: 27px;
            padding: 5px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            cursor: pointer;
            text-transform: none;

            img {
                margin-left: 10px;
            }

        }
    }

}

.bx-video {
    &.playing {
        .video-box {
            @include hidden;
        }
    }
}

.video-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all .3s ease;
    cursor: pointer;
    width: 100%;

    .video-play {
        position: relative;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        display: block;

        .video-text-t {
            @include pos-mid;
            pointer-events: none;
            transition: 1s ease;
            z-index: 1;
            // transform: translate(-50% , -50%) scale(-1 , -1);
            // width: 80px;
            // height: 80px;
            // width: 90px;
            // height: 90px;
            // width: 100px;
            // height: 100px;

            &.video-text-b {
                transform: scale(-1);
            }

            .letter {
                text-transform: uppercase;
                line-height: 1.1;
                font-weight: 600;
                font-size: 12px;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                // padding-top: 55px;
                padding-bottom: 55px;
                position: absolute;
                transform-origin: bottom center;
                // transform-origin: top center;
                top: -55px;
                left: 0;
                right: 0;
                bottom: 0;
                bottom: 80px;
                transition: 0.5s ease;
                // animation: letterBlink 5s linear infinite;
                color: $w-cl;

                @include max-media($bk-d-768) {
                    padding-bottom: 48px;
                    top: -48px;
                }
            }
        }

        .play-box {
            border-radius: 100%;
            width: 64px;
            height: 64px;
            border-radius: 100%;
            background-color: $w-cl;
            @include pos-mid;

            .play-icon {
                font-size: 24px;
                @include pos-mid;
                margin-left: 2px;
                color: $main-cl;
            }
        }

    }
}

.inspi-inner {
    &:hover {
        .inspi-more {
            img {
                transform: translate(0, -50%);
                @include visible;
            }

            .inspi-line {
                &::before {
                    width: 100%;
                }
            }
        }

        .inspi-img {
            img {
                transform: scale(1.1);
            }
        }
    }

    .inspi-img {
        overflow: hidden;

        img {
            transition: all .3s ease;
        }
    }

    .inspi-content {
        padding-top: 16px;

        @include max-media($bk-d-992) {
            padding-top: 10px;
        }
    }

    .inspi-tt {
        line-height: 1.5;
        margin-bottom: 8px;
        color: $b-D1D1-cl;
        @include line-clamp(1);

        @include max-media($bk-d-992) {
            margin-bottom: 5px;
        }

        @include max-media($bk-576) {
            margin-bottom: 2px;
        }
    }

    .inspi-desc {
        line-height: 1.5;
        color: $b-D1D1-cl;
        margin-bottom: 16px;
        @include line-clamp(4);

        @include max-media($bk-d-992) {
            margin-bottom: 10px;
        }

        @include max-media($bk-d-768) {
            @include line-clamp(2);
        }
    }

    .inspi-more {
        display: block;
        overflow: hidden;
        position: relative;
        padding-bottom: 16px;
        transition: all .3s ease;

        .more-text {
            display: inline-block;
            position: relative;
            padding-right: 34px;
            text-decoration: underline;
            @include fz-16;
            font-weight: 600;
            color: $main-cl;
        }

        img {
            position: absolute;
            top: 50%;
            right: 0;
            z-index: -1;
            transform: translate(-100%, -50%);
            transition: all .3s ease;
            @include hidden;
        }

        .inspi-line {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba($color: $b-cl, $alpha: .2);
            transition: all .3s ease;

            &::before {
                content: '';
                position: absolute;
                top: 0%;
                left: 0;
                background-color: $main-cl;
                height: 1px;
                width: 0;
                transition: all .3s ease;
            }
        }

    }
}

.breadcrumb-one {
    padding: 10px;
    position: relative;

    .bread-inner {
        text-align: center
    }

    .bread-tt {
        @include fz-16;
        font-weight: 500;
        text-transform: uppercase;
        transition: all .3s ease;

        &:hover {
            color: $main-cl;
        }
    }

    .bread-close {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
    }
}

.not-login {
    position: fixed;
    top: 0%;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1170px;
    transition: all .3s ease;
    .login-t {
        display: flex;
        align-items: center;
        background-color: #FFC225;
        color: $w-cl;
        padding: 16px 40px 16px 24px;
        @include max-media($bk-576){
            padding: 10px 30px 10px 20px;
        }
        img{
            margin-right: 16px;
            @include max-media($bk-576){
                margin-right: 10px;
            }
        }

        .txt{
            text-decoration: underline;
            transition: all .3s ease;
            &:hover{
                color: $main-cl;
            }
        }
    }

    .not-close {
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
        cursor: pointer;
        @include max-media($bk-d-992){
            right: 15px;
            // top: 0;
            // transform: translateY(5px);
        }
        @include max-media($bk-576){
            right: 10px;
        }
        img{
            filter: brightness(0) invert(1);
        }
    }
}