.banners {
	overflow: hidden;
	.swiper-wrapper {
		margin: 0;
	}
	.swiper-slide {
		padding: 0;
		height: 100%;
	}
	.swiper-slide > img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.swiper-button-prev {
		left: 20px;
	}
	.swiper-button-next {
		right: 20px;
	}
	.swiper-pagination {
		position: absolute;
		bottom: 0;
	}

	position: relative;

	.container-full{
		padding: 0;
	}

	.slide-banner{
		position: relative;
	}

	.banners-inner{
		position: relative;
		max-height: 890px;
		.video-banner{
			display: block;
			height: 890px;
			width: 100%;
			object-fit: cover;
			@include max-media($bk-d-1900){
				height: 800px;
			}
			@include max-media($bk-d-1440){
				height: 750px;
			}
			@include max-media($bk-d-1200){
				height: 700px;
			}
			@include max-media($bk-d-992){
				height: 600px;
			}
			@include max-media($bk-d-768){
				height: 500px;
			}
			@include max-media($bk-576){
				height: 450px;
			}

			img{
				height: 100%;
			}
		}

		.video-title{
			// transition: all .3s ease;
			color: $w-cl;
			text-align: center;
			line-height: 1.1;
			margin-bottom: 30px;
			padding: 0 15px;
			@include max-media($bk-d-992){
				margin-bottom: 20px;
			}
			@include max-media($bk-576){
				font-size: 34px;
			}
			br{
				@include max-media($bk-d-1200){
					display: none;
				}
			}
			&.active{
				display: none;
				@include hidden;
				// height: 0;
			}
		}

		.video-play{
			pointer-events: auto;
		}

		.video-bx-txt{
			@include pos-full;
			animation: rotate-in 10s linear infinite;

		}

		
	}
	
	.banners-sm{
		position: absolute;
		bottom: 112px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		max-width: 1200px;
		margin: 0 auto;
		@include max-media($bk-d-1440){
			bottom: 80px;	
		}
		@include max-media($bk-d-1200){
			bottom: 60px;
			left: 15px;
			right: 15px;
			transform: none;
		}

		@include max-media($bk-d-992){
			bottom: 40px;
		}
		@include max-media($bk-576){
			bottom: 25px;
		}

		.swiper-slide-thumb-active{
			.banners-box{
				opacity: 1;
			}
		}

		.container{
			@include  max-media($bk-d-1200){
				width: auto;
				max-width: 1200px;
			}
		}
		
		.banners-box{
			padding-bottom: 8px;
			color: $w-cl;
			border-bottom: 1px solid $w-cl;
			opacity: .5;
			cursor: pointer;
			transition: all .3s ease;
			@include max-media($bk-d-576){
				padding-bottom: 5px;
			}
		}

	}
}