.banners {
	.swiper-wrapper {
		margin: 0;
	}
	.swiper-slide {
		padding: 0;
		height: 100%;
	}
	.swiper-slide > img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.swiper-button-prev {
		left: 20px;
	}
	.swiper-button-next {
		right: 20px;
	}
	.swiper-pagination {
		position: absolute;
		bottom: 0;
	}

	

	.container-full{
		padding: 0;
	}

	.banners-inner{
		position: relative;

		&.playing{
			.video-box{
				@include hidden;
			}
		}
		.video-box{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50% , -50%);
			pointer-events: none;
			transition: all .3s ease;
			cursor: pointer;
		}

		.video-title{
			// transition: all .3s ease;
			color: $w-cl;
			text-align: center;
			line-height: 1.1;
			margin-bottom: 30px;
			&.active{
				display: none;
				@include hidden;
				// height: 0;
			}
		}

		.video-play{
			position: relative;
			width: 120px;
			height: 120px;
			margin: 0 auto;
			
		}

		.play-box{
			border-radius: 100%;
			width: 64px;
			height: 64px;
			border-radius: 100%;
			background-color: $w-cl;
			@include pos-mid;
			.play-icon{
				font-size: 24px;
				@include pos-mid;
				margin-left: 2px;
				color: $main-cl;
			}
		}

		.video-text-t{
			@include pos-mid;
			pointer-events: none;
			transition: 1s ease;
			z-index: 1;
			.letter{
				text-transform: uppercase;
				line-height: 1.1;
				font-weight: 700;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-bottom: 80px;
				position: absolute;
				transform-origin: bottom center;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				transition: 0.5s ease;
				// animation: letterBlink 5s linear infinite;
			}
		}
	}
	

	
}
