.breadcrumb {
    width: 100%;
    background-color: $w-cl;
    &.bg-g-f2 {
        //background-color: $g-F2F0-cl;
    }

    .breadcrumb-menu {
        justify-content: center;
        display: flex;
        align-items: center;
        // border-bottom: 1px solid $main-cl;
        padding: 10px 0;

        @include max-media($bk-576) {
            overflow-x: scroll;
            white-space: nowrap;
        }


        .breadcrumb-list {
            &:not(:first-child) {
                &::before {
                    content: '\f111 ';
                    font-family: "Fontawesome";
                    font-size: 5px;
                    color:  #C4C4C4;
                    padding-right: 8px;
                }

                padding-left: 12px;
            }

            &.current{
                color: $main-cl;
            }

            a {
                @include fz-16;
                font-weight: 500;
                transition: all .3s ease;
                text-transform: capitalize;
                @include max-media($bk-d-768) {
                    font-size: 13px;
                }

                &:hover {
                    color: $main-cl;
                }
            }
        }
    }
}
