.header {
    position: relative;
    width: 100%;
    z-index: 900;
    background-color: $w-cl;
    transition: all .3s ease-in;
    box-shadow: 0 8px 32px rgba($color: $b-cl, $alpha: 0.1);

    &.--fix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        // box-shadow: 10px 10px 20px rgba($color: $b-cl, $alpha: 0.16);
        box-shadow: 0 8px 32px rgba($color: $b-cl, $alpha: 0.1);
        animation: fixedMenu 0.6s;
    }

    .container {
        width: auto;
        padding: 0;
    }

    &.header-home {
        box-shadow: none;
        background-color: transparent;
        color: $w-cl;
        border-bottom: 1px solid rgba($color: $w-cl, $alpha: .1);
        position: fixed;

        @include max-media($bk-d-1200) {
            color: $b-cl;
        }

        &.--fix {
            background-color: $w-cl;
            color: $b-cl;
            border: none;
            box-shadow: 0px 8px 32px rgba($color: $b-cl, $alpha: 0.1);

            .header-logo {
                max-width: 102px;

                img {
                    filter: brightness(0) invert(0);
                }
            }

            .header-menu-nav {
                &>li {
                    &>a {
                        padding: 26px 25px;

                        &::before {
                            bottom: 0;
                            height: 2px;
                        }

                        &:hover {
                            color: $main-cl;

                            &::before {
                                background-color: $main-cl !important;
                            }
                        }
                    }
                }

                .current-menu {
                    &>a {
                        color: $main-cl;

                        &::before {
                            background-color: $main-cl;
                            height: 2px;
                        }
                    }
                }
            }
        }

        .header-bottom {
            @include max-media($bk-d-1200) {
                padding: 0 15px 0 0;

            }
        }

        .header-logo {
            @include max-media($bk-d-1200) {
                max-width: 102px;
            }
        }

        .header-menu-nav {
            .current-menu {
                &>a {
                    color: $w-cl;

                    &::before {
                        background-color: $w-cl;
                    }

                    @include max-media($bk-d-1200) {
                        color: $main-cl;
                    }

                }
            }

            &>li {
                &>a {
                    padding: 50px 25px;

                    &::before {
                        bottom: -1px;
                    }

                    &:hover {
                        color: $w-cl;

                        &::before {
                            background-color: $w-cl;
                        }

                        @include max-media($bk-d-1200) {
                            color: $main-cl;
                        }
                    }
                }
            }
        }

        .sub-menu {
            color: $b-cl;
        }
    }
}

.header-bottom {
    // background: $w-cl;
    background: transparent;
    padding-right: 80px;

    @include max-media($bk-d-1440) {
        padding-right: 15px;
    }

    @include max-media($bk-d-1200) {
        padding: 10px 15px 10px 0;
    }

    &-inner {
        // padding: 8px 0;
        display: flex;
        //justify-content: flex-start;
        justify-content: space-between;
        align-items: center;
        // color: $t-w-cl;
    }
}

.header-logo {
    // margin-right: 15px;

    img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.header-act {
    display: flex;
    align-items: center;
}

.header-search {
    border-right: 2px solid $w-cl;
    margin-right: 16px;
    padding-right: 16px;
    transition: all .3s ease;

    .search-desktop {
        border-radius: 100%;
        box-shadow: 0px 0px 5px rgba($color: $b-cl, $alpha: 0.16);
    }

    @include max-media($bk-d-1200) {
        display: none;
    }
}

.lang-mobi {
    position: absolute;
    top: 0;
    right: 0;
}

.header-lang,
.box-lang {
    margin-right: 10px;

    .vodiapicker {
        display: none;
    }

    .lang-select {
        position: relative;

        .btn-select {
            width: 61px;
            height: 30px;
            font-weight: 600;
            border-radius: 99px;
            padding: 3px 27px 3px 10px;
            background-color: $w-cl;
            color: $b-cl;
            border: none;
            background-image: url('../img/svg/icon-down-main.svg');
            background-position: right 10px center;
            background-repeat: no-repeat;
            cursor: pointer;

            @include max-media($bk-d-1200) {
                border-radius: 0 0 10px 10px;
                border: 1px solid $border-cl;
            }

        }

        .lang-content {
            background-color: $w-cl;
            color: $b-cl;
            position: absolute;
            top: 5px;
            left: 0;
            transform: translateY(50%);
            width: 100%;
            border: 1px solid $border-cl;
            border-radius: 4px;
            display: none;

            ul {
                padding: 2.5px 7.5px;
            }

            li {
                padding: 2.5px;
                cursor: pointer;
                transition: all .3s ease;

                &:hover {
                    color: $main-cl;
                }
            }
        }
    }
}

.header-menu-social {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    @include max-media($bk-d-1200) {
        display: flex;
    }

    .menu-social {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $w-cl;
        border-radius: 100%;
        margin: 0 10px;
        cursor: pointer;
        background-color: $b-cl;
        font-size: 14px;
    }
}

.header-cart {
    position: relative;
    margin-right: 10px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba($color: $b-cl, $alpha: 0.16);

    .cart-btn {
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: $w-cl;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;

        &:hover {
            background-color: $main-cl;

            img {
                filter: brightness(0) invert(1);
            }
        }

        img {
            transition: all .3s ease;
        }


        .qty-cart {
            display: inline;
            position: absolute;
            top: -8px;
            right: -8px;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            background-color: #E41A28;
            color: $t-w-cl;
            font-size: 10px;
            font-weight: 600;
            line-height: 18px;
            text-align: center;
        }
    }


}

.header-user {
    margin-right: 10px;
    position: relative;

    &.active {
        .user-content {
            @include visible;
        }
    }

    .user-title {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        @include flex-mid;
        cursor: pointer;
        transition: all .3s ease;
        background-color: $main-cl;

        img {
            filter: brightness(0) invert(1);
        }
    }

    .user-content {
        position: absolute;
        top: calc(100% + 13px);
        right: -8px;
        // transform: translateY(0%);
        background-color: $w-cl;
        color: $b-cl;
        width: 200px;
        border-radius: 5px;
        // border: 1px solid $border-cl;
        @include hidden;
        box-shadow: 0px 0px 16px rgba($color: $b-cl, $alpha: 0.18);

        &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 7px 5px;
            border-color: transparent transparent $w-cl transparent;
            position: absolute;
            top: 0;
            right: 16px;
            transform: translateY(-98%);

        }

        .user-act {
            .act-item {
                padding: 8px 16px;
                color: $g-7C7C-cl;
                transition: all .3s ease;

                &:not(:first-child) {
                    border-top: 1px solid rgba($color: $b-cl, $alpha: 0.12);
                }

                &:nth-child(1) {
                    padding: 16px;
                    color: $b-cl;
                }

                &:nth-child(even) {
                    background-color: $g-F5F5-cl;
                }

                &:hover {
                    color: $main-cl;
                }
            }
        }

        .user-list {
            padding: 10px 20px;
        }

        .user-item {
            padding: 10px 0;
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
                color: $main-cl;
                font-weight: 600;
            }
        }
    }
}

.header-heart {
    margin-right: 10px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba($color: $b-cl, $alpha: 0.16);

    .heart-title {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: $w-cl;
        @include flex-mid;
        transition: all .3s ease;
        cursor: pointer;

        &:hover {
            background-color: $main-cl;

            img {
                filter: brightness(0) invert(1);
            }
        }

        img {
            transition: all .3s ease;
        }
    }
}

.header-menu {

    &-inner {
        .header-menu-logo {
            display: none;
            max-width: 120px;
            margin: 0 0 20px;

            @include max-media($bk-d-1200) {
                display: block;
            }

            img {
                width: 100%;
            }
        }
    }

    @include max-media($bk-d-1200) {
        @include pos-full-fixed;
        left: unset;
        right: 100vw;
        text-align: left;
        transition: all .2s ease;
        z-index: 998;

        &.--active {
            right: 0;
        }

        .header-menu-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: $bg-w-cl;
            padding: 20px 0 40px;
            display: flex;
            flex-direction: column;
            z-index: 99;
        }
    }
}

.header-menu-nav {
    position: relative;
    display: flex;
    // justify-content: center;
    // align-items: center;

    @include max-media($bk-d-1200) {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        height: 400px;
        @include custom-scrollbar(3px, $main-cl)
    }

    // li {
    a {
        position: relative;
        padding: 30px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        text-transform: uppercase;
        @include trans(.3s);
        //color: $t-b-cl;

        //font-size: 12px;
        @include max-media($bk-d-1200) {
            padding: 10px 20px;
            border-bottom: 1px solid rgba($color: $bg-b-cl, $alpha: 0.16);
            transition: all .3s ease;
        }
    }

    >li {
        >a {
            @include min-media($bk-1200) {
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 1px;
                    background-color: $main-cl;
                    transition: all .3s ease;
                }

                &:hover {
                    color: $main-cl;

                    &::before {
                        width: calc(100% - 50px);
                        height: 2px;
                    }
                }
            }

            &:focus {
                @include max-media($bk-d-1200) {
                    color: $main-cl;
                }
            }
        }
    }

    .current-menu {
        >a {
            color: $main-cl;

            &::before {
                width: calc(100% - 50px);
                height: 2px;
            }
        }

        .current-menu {
            >a {
                background-color: $main-cl;
                color: $w-cl;
            }
        }
    }

    // }
}

.dropdown {
    position: relative;

    //hover trên deskop
    @include min-media($bk-1200) {
        &:hover {
            >.sub-menu {
                transform: translateY(0);
                pointer-events: auto;
                @include visible;
            }

            .fa.fa-angle-down {
                pointer-events: none;
            }

            a {
                &:hover {
                    i {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    a {
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        transition: all .3s ease;
    }

    .fa.fa-angle-down {
        width: 20px;
        height: 100%;
        font-weight: bold;
        transition: transform .3s;
        text-align: center;

        @include max-media($bk-d-1200) {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;

            &:before {
                @include pos-mid;
            }

            transform: rotate(-90deg);

            &.--show {
                transform: rotate(0deg);
            }

        }


    }


}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    width: max-content;
    font-size: 12px;
    //color: $t-b-cl;
    background-color: $bg-w-cl;
    box-shadow: 10px 10px 30px rgba($color: $bg-b-cl, $alpha: 0.16);


    .sub-menu {
        top: 0;
        left: 100%;
    }

    @include min-media($bk-1200) {
        transition: .3s;
        transform: translateY(10px);
        pointer-events: none;
        @include hidden;
    }

    a {
        padding: 15px;

        @include min-media($bk-1200) {
            &:hover {
                color: $t-w-cl;
                background-color: $main-cl;
            }
        }
    }

    @include max-media($bk-d-1200) {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        display: none;

        a {
            padding-left: 30px;
            border-bottom: 1px solid $w-cl;

            &:hover {
                color: $w-cl;
                background-color: $main-cl;
            }
        }

        .sub-menu a {
            padding-left: 45px;
        }

        .sub-menu .sub-menu a {
            padding-left: 60px;
        }
    }
}