.pagination {
	margin-top: 48px;
	text-align: center;
	@include max-media($bk-d-1200){
		margin-top: 30px;
	}
	li {
		display: inline-block;
		vertical-align: middle;
		.page-numbers {
			width: 40px;
			height: 40px;
			border-radius: 100%;
			border: 1px solid $main-cl;
			background-color: $w-cl;
			@include fz-16;
			color: $b-D1D1-cl;
			transition: all .3 ease;
			line-height: 1.5;
			font-weight: 600;
			@include flex-mid;
			margin: 0 4px;
			&.current {
				background-color: $main-cl;
				color: $t-w-cl;
				border: 1px solid transparent;
			}
			&:hover {
				background-color: $main-cl;
				color: $t-w-cl;
				border: 1px solid transparent;
			}
		}

		.page-arrow{
			width: 40px;
			height: 40px;
			@include flex-mid;
			// font-size: 24px;
			@include fz-24;
			transition: all .3 ease;
			border-radius: 100%;
			color: #D9D9D9;
			// &:hover {
			// 	background-color: $main-cl;
			// 	color: $t-w-cl;
			// }

			&.arrow-next{
				color: $main-cl;
			}
		}

		.page-dots{
			width: 40px;
			height: 40px;
			background-color: $w-cl;
			@include fz-16;
			// color: #C4C4C4;
			transition: all .3 ease;
			@include flex-mid;

			.dots{
				width: 5px;
				height: 5px;
				border-radius: 100px;
				background-color: #C4C4C4;
				margin: 0 2px;
			}
		}
	}
}
