.heart-popup {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: 0.3s ease;

    .bg-cart {
        width: 100%;
        height: 100%;
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $bg-b-cl, $alpha: 0.6);
        z-index: 998;
        transition: all 0.3s ease;
    }

    .box-cart {
        position: absolute;
        height: 100%;
        background: $bg-w-cl;
        right: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        max-width: 375px;
    }

    .head-boxcart {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 16px 24px 24px;
        border-bottom: 1px solid $b-cl;

        .title-name {
            @include fz-24;
            font-weight: 500;
            display: flex;
            align-items: center;
            img{
                padding-right: 16px;
            }
        }

        .btn-close {
            outline: none;
            font-weight: bold;
            border: 0;
            background: transparent;
            cursor: pointer;

        }
    }

    .container-boxcart {
        max-height: 500px;
        overflow: auto;
        @include custom-scrollbar(3px,$main-cl);
        .product-list {
          
            
            
        }
        
    }

    .footer-boxcart {
        padding: 15px;
        border-top: 1px solid rgba($color: $b-cl, $alpha: 0.5);

        .box-sum-cart {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            font-size: 18px;

            .cart-sum {
                font-weight: bold;
            }
        }

        .cart-link {
            font-weight: bold;
            color: $t-w-cl;
            display: flex;
            justify-content: space-between;

            .btn-checkout,
            .btn-yourcart {
                background: $b-cl;
                padding: 10px 20px;
                display: inline-block;
                transition: 0.3s all;
                width: calc(50% - 5px);
                font-weight: normal;
                border: 1px $b-cl solid;

                &:hover {
                    background: $bg-w-cl;
                    color: $t-b-cl;
                    box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: 0.16);
                }
            }


        }
    }
}