.breadcrumb-menu{
    position: relative;
    z-index: 2;
    // padding: 10px 0;
    .bread-inner{
        &.active{
            .bread-content{
                display: block;
            }
        }
    }

    .bread-close{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    

    .bread-t{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @include fz-16;
        font-weight: 500;
        text-transform: uppercase;
        padding: 10px 0;
        border-bottom: 1px solid rgba($color: $b-cl, $alpha: .16);
        img{
            transform: rotate(-90deg);
            margin-left: 10px;
        }
    }
    .bread-content{
        display: none;
        background-color: $w-cl;
        padding: 36px 0 30px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(0%);
        z-index: 1;
        @include max-media($bk-d-992){
            padding: 20px 0;
        }
    }

    .bread-box{
        text-align: center;
        padding: 16px 24px;
        transition: all .3s ease;
        border: 1px solid transparent;
        display: block;
        @include max-media($bk-d-1200){
            padding: 12px 18px;
        }
        @include max-media($bk-d-992){
            padding: 10px 15px;
        }
        @include max-media($bk-576){
            padding: 10px 10px 5px;
        }

        &.active{
            background-color: $g-F5F5-cl;
            border-color: rgba($color: $b-cl, $alpha: .2);
        }

        &:hover{
            background-color: $g-F5F5-cl;
            border-color: rgba($color: $b-cl, $alpha: .2);
        }
    }

    .bread-img{
        img{
            margin: 0 auto;
        }
    }

    .bread-tt{
        margin-top: 24px;
        @include fz-16;
        font-weight: 500;
        @include max-media($bk-d-1200){
            margin-top: 20px;
        }
        @include max-media($bk-d-992){
            margin-top: 15px;
        }
        @include max-media($bk-d-768){
            margin-top: 10px;
        }
    }

    .column{
        width: calc(100% / 3);
        @include max-media($bk-d-768){
            width: calc(100% / 2);
        }
    }
}