.box-notification {
    text-align: center;
    padding: 16px 0;
    background-color: $g-F5F5-cl;
    border-bottom: 1px solid rgba($color: $b-cl, $alpha: .12);

    .text-notifi {
        color: #E41A28;
        font-weight: 500;
        line-height: 1.7;
    }
}

.pays {
    padding-bottom: 95px;
    overflow: hidden;
    @include max-media($bk-d-1200){
        padding-bottom: 60px;
    }

    @include max-media($bk-d-992){
        padding-bottom: 40px;
    }

    .pay-wrap-head {
        background-color: #FBFBFB;
        border-bottom: 1px solid rgba($color: $b-cl, $alpha: .12);
        padding: 28px 0 27px;
        @include max-media($bk-d-1200){
            padding: 20px 0;
        }
    }

    .pay-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include max-media($bk-d-1200){
            flex-direction: column;
            align-items: flex-start;
        }

        .pay-order{
            @include max-media($bk-576){
                margin-top: 10px;
            }
        }
    }

    .pay-order {
        font-weight: 500;
        color: $w-cl;
        border-radius: 99px;
        padding: 16px 32px;
        height: auto;
        width: auto;
        position: relative;
        border: 1px solid $main-cl;
        background-color: $main-cl;
        @include max-media($bk-d-1200){
            padding: 10px 20px;
        }
        @include max-media($bk-576){
            padding: 10px 15px;
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: $w-cl;
            transform-origin: center right;
            transform: scaleX(0);
            position: absolute;
            transition: transform 0.3s linear;
            left: 0;
            top: 0;
            z-index: -1;
        }

        &:hover {
            color: $main-cl;

            &::after {
                transform: scale(1);
                transform-origin: center left;

            }
        }
    }

    .pay-wrapper {
        margin-top: 56px;
        @include max-media($bk-d-1200){
            margin-top: 30px;
        }
    }

    .pay-table {
        width: 100%;

        thead {
            td {
                font-weight: 600;
                width: 20%;

                &:nth-child(1) {
                    width: 150px;
                    @include max-media($bk-d-1200){
                        width: 130px;
                    }
                    @include max-media($bk-d-992){
                        width: 100px;
                    }
                }

                &:nth-child(2) {
                    width: calc(60% - 150px);
                    @include max-media($bk-d-1200){
                        width: calc(60% - 130px);
                    }
                    @include max-media($bk-d-992){
                        width: calc(60% - 100px);
                    }
                }

                &:nth-child(3) {
                    text-align: right;
                    @include max-media($bk-d-768){
                        display: block;
                        width: 100%;
                        display: none;
                    }
                }

                &:nth-child(4) {
                    text-align: right;
                    @include max-media($bk-d-768){
                        display: block;
                        width: 100%;
                        display: none;
                    }
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid rgba($color: $b-cl, $alpha: .16);
            }

            td {
                padding: 32px 0;
                @include max-media($bk-d-1200){
                    padding: 25px 0;
                }

                @include max-media($bk-d-992){
                    // padding: 20px 0;
                }
                @include max-media($bk-d-768){
                    // padding: 10px 0;

                }

                &:nth-child(1){
                    position: relative;
                    @include max-media($bk-d-768){
                        // padding: 10px 0;
                        
                    }
                }

                &:nth-child(2) {
                    @include max-media($bk-d-768){
                        display: block;
                        padding-bottom:10px;
                    }
                    
                }
                
                &:nth-child(3) {
                    text-align: right;
                    @include max-media($bk-d-768){
                        display: inline-block;
                        width: 50%;
                        padding-top: 10px;
                    }
                }

                &:nth-child(4) {
                    text-align: right;
                    @include max-media($bk-d-768){
                        display: inline-block;
                        width: 50%;
                        padding-top: 10px;
                    }
                }
            }
        }

        .pay-color {
            width: 110px;
            height: 88px;
            border-radius: 5px;
            position: relative;
            @include max-media($bk-d-992){
                width: 100px;
            }
            @include max-media($bk-d-768){
                position: absolute;
                top: 20px;
            }

            .pay-cl-t {
                color: #B8B8B8;
                position: absolute;
                bottom: 7px;
                left: 7px;
                font-size: 12px;
                transition: all .3s ease;
            }

            &:hover {
                .pay-cl-t {
                    color: $main-cl;
                }
            }
        }

        .pay-content {
            display: flex;

            .pay-img {
                // max-width: 88px;
                min-width: 88px;
            }

            .pay-text {
                padding-left: 32px;
                @include max-media($bk-d-1200){
                    padding-left: 20px;
                }
                @include max-media($bk-d-992){
                    padding-left: 10px;
                }
                @include max-media($bk-d-768){
                    padding-left: 5px;
                }

            }

            .pay-tt {
                margin-bottom: 8px;
                @include fz-18;
                font-weight: 500;
                transition: all .3s ease;
                @include max-media($bk-d-992){
                    margin-bottom: 5px;
                }
                &:hover {
                    color: $main-cl;
                }
            }

            .pay-classification {
                font-weight: 500;
                color: $g-7C7C-cl;
                margin-bottom: 8px;
                @include max-media($bk-d-992){
                    margin-bottom: 5px;
                }
            }

            .pay-sll {
                font-weight: 500;
            }

        }

        .pay-qty {
           @include max-media($bk-d-768){
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
           }
            .cart-qty {
                position: relative;

            }

            .qty-plus,
            .qty-minus {
                position: absolute;
                right: 16px;
                outline: none;
                border: none;
                width: 8px;
                height: 8px;
                background-color: transparent;
                cursor: pointer;
            }

            .qty-plus {
                top: 9px;
            }

            .qty-minus {
                bottom: 10px;
            }

            .f-control {
                border-radius: 99px;
                border-color: rgba($color: $b-cl, $alpha: .1);
                width: 124px;
                height: 40px;
                font-weight: 600;
                transition: all .3s ease;
                @include max-media($bk-d-992){
                    width: 100px;
                }

                &:hover,
                &:focus {
                    border-color: $main-cl;
                }
            }
        }

        .pay-close {
            color: #9A4892;
            margin-top: 8px;
            display: block;
            text-decoration: underline;
            transition: all .3s ease;
            @include max-media($bk-d-992){
                margin-top: 5px;
            }
            @include max-media($bk-d-768){
                margin-top: 0;
                margin-right: 10px;

            }
            &:hover {
                color: #E41A28
            }

        }

        .pay-price {
            @include fz-18;

        }
    }

    .pay-footer {
        margin-top: 32px;
        @include max-media($bk-d-1200){
            margin-top: 20px;
        }

        .pay-item {
            &:not(:first-child) {
                margin-top: 16px;
                @include max-media($bk-d-1200){
                    margin-top: 12px;
                }
                @include max-media($bk-d-992){
                    margin-top: 10px;
                }
            }

            &.pay-fot {
                margin-top: 40px;
                @include max-media($bk-d-1200){
                    margin-top: 30px;
                }
                @include max-media($bk-d-992){
                    margin-top: 20px;
                }
            }
        }


    }

    .pay-b {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pay-shoping {
        color: #0FBF4B;
        text-decoration: underline;
    }




}

.white-popup-block {
    &.block-pay {
        max-width: 830px;
        border-radius: 10px;
        padding: 48px 92px;
        background-position: center;
        background-repeat: no-repeat;
        @include max-media($bk-d-992){
            padding: 40px 50px;
        }
        @include max-media($bk-d-768){
            padding: 20px;
        }
    }
}

.popup-pay {
    text-align: center;
   

    .pay-icon {
        margin-bottom: 16px;
        @include max-media($bk-d-768){
            margin-bottom: 10px;
        }

        img {
            margin: 0 auto;
        }
    }

    .pay-title {
        margin-bottom: 24px;
        line-height: 1.4;
        @include max-media($bk-d-992){
            margin-bottom: 15px;
        }
        @include max-media($bk-576){
            margin-bottom: 10%;
        }
    }

    .pay-desc {
        font-weight: 500;
        color: #4F4F4F;
        line-height: 1.7;
        margin-bottom: 40px;
        @include max-media($bk-d-992){
            margin-bottom: 30px;
        }
        @include max-media($bk-d-768){
            margin-bottom: 20px;
        }
    }

    .pay-cls {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        @include max-media($bk-d-768){
            margin-bottom: 30px;
            justify-content: space-between;
        }
        @include max-media($bk-576){
            margin-bottom: 20px;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .pay-item {
        &:nth-child(2) {
            padding-left: 84px;
            @include max-media($bk-d-768){
                padding-left: 0;
            }
            @include max-media($bk-576){
                padding-top: 10px;
            }
        }
    }

    .pay-bx {
        display: flex;
        text-align: left;
    }

    .pay-text {
        padding-left: 12px;
    }

    .pay-t {
        margin-bottom: 8px;
        color: $main-cl;
        @include fz-18;
    }

    .pay-lk {
        font-weight: 500;
        @include fz-16;
    }

    .pay-contact {
        display: inline-block;
        margin-bottom: 24px;
        width: auto;
        height: auto;
        padding: 16px 32px;
        border-radius: 99px;
        color: $w-cl;
        font-weight: 500;
        border: 1px solid $main-cl;
        background-color: $main-cl;
        position: relative;
        @include max-media($bk-576){
            padding: 10px 20px;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: #fff;
            transform-origin: center right;
            transform: scaleX(0);
            position: absolute;
            transition: transform 0.3s linear;
            left: 0;
            top: 0;
            z-index: -1;
        }

        &:hover {
            color: $main-cl;
            &::after {
                transform: scale(1);
                transform-origin: center left;
            }
        }
    }

    .pay-continu {
        display: block;
        color: #70B842;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: underline;
        transition: all .3s ease;
        &:hover{
            color: $main-cl;
        }
    }
}