.story {
    padding: 88px 0;
    background-color: $g-F5F5-cl;
    overflow: hidden;

    @include max-media($bk-d-1200) {
        padding: 60px 0;
    }

    @include max-media($bk-d-992) {
        padding: 40px 0;
    }

    .paint-head {
        margin-bottom: 32px;

        @include max-media($bk-d-1200) {
            margin-bottom: 20px;
        }

        @include max-media($bk-d-992) {
            margin-bottom: 10px;
        }
    }

    .paint-label {
        color: $main-cl;

        &::after,
        &::before {
            background-color: $main-cl !important;
        }
    }

    .story-desc {
        max-width: 770px;
        text-align: center;
        margin: 0 auto 48px;
        line-height: 1.7;

        @include max-media($bk-d-1200) {
            margin-bottom: 30px;
        }

        @include max-media($bk-d-992) {
            margin-bottom: 20px;
        }

        @include max-media($bk-d-768) {
            margin-bottom: 15px;
        }

        &.mb-0 {
            margin-bottom: 0 !important;
        }
    }

    .story-img {
        margin-bottom: 48px;

        @include max-media($bk-d-1200) {
            margin-bottom: 30px;
        }

        @include max-media($bk-d-992) {
            margin-bottom: 20px;
        }

        @include max-media($bk-d-768) {
            margin-bottom: 15px;
        }

        img {
            @include max-media($bk-d-768) {
                min-height: 170px;
            }
        }

    }
}

.project {
    background-color: $b-D1D1-cl;
    color: $w-cl;
    padding: 96px 0;
    overflow: hidden;

    @include max-media($bk-d-1200) {
        padding: 60px 0;
    }

    @include max-media($bk-d-992) {
        padding: 40px 0;
    }

    .columns {
        justify-content: space-between;
    }

    .column {
        &.pro-tx {
            width: calc(100% / 12 * 5 + 30px);

            @include max-media($bk-d-768) {
                width: 100%;
            }
        }

        &.pro-ig {
            width: calc(100% / 12 * 6);

            @include max-media($bk-d-1200) {
                width: calc(100%/ 12 * 7 - 30px);
            }

            @include max-media($bk-d-768) {
                width: 100%;
            }
        }
    }

    .paint-head {
        margin-bottom: 32px;

        @include max-media($bk-d-1200) {
            margin-bottom: 20px;
        }

        @include max-media($bk-d-992) {
            margin-bottom: 10px;
        }
    }

    .paint-label {
        color: #BFBFBF;

        &::before {
            background-color: #BFBFBF;
        }
    }

    .project-desc {
        line-height: 1.7;
    }

    .project-slide {
        width: 747px;

        @include max-media($bk-d-1900) {
            width: 100%;
        }

        @include max-media($bk-d-768) {
            margin-top: 10px;
        }
    }

    .swiper-act {
        width: 71px;
        height: 27px;
        position: relative;
        margin-top: 37px;

        @include max-media($bk-d-1200) {
            margin-top: 20px;
        }

        @include max-media($bk-d-992) {
            margin-top: 10px;
        }

        @include max-media($bk-d-768) {
            width: 100%;
            height: auto;
        }
    }

    .swiper-pagination {
        padding-bottom: 7px;
        @include fz-16;

        .swiper-pagination-total {
            color: $g-7C7C-cl;
        }

        @include max-media($bk-d-768) {
            display: none;
        }

    }

    .swiper-scrollbar {
        position: absolute;
        left: 0;
        bottom: 0px;
        z-index: 50;
        height: 1px;
        width: 100%;
        opacity: 1 !important;
        background-color: $g-7C7C-cl;

        @include max-media($bk-d-768) {
            height: 2px;
        }

        &-drag {
            background-color: $w-cl;
        }

    }
}

.textured {
    padding: 96px 0;
    overflow: hidden;

    @include max-media($bk-d-1200) {
        padding: 60px 0;
    }

    @include max-media($bk-d-992) {
        padding: 40px 0;
    }

    .paint-head {
        max-width: 770px;
        margin: 0 auto 48px;

        @include max-media($bk-d-1200) {
            margin-bottom: 30px;
        }

        @include max-media($bk-d-992) {
            margin-bottom: 20px;
        }

    }

    .paint-label {
        color: $main-cl;

        &::after,
        &::before {
            background-color: $main-cl !important;
        }
    }

    .paint-title {
        color: $b-D1D1-cl;

        br {
            @include max-media($bk-576) {
                display: none;
            }
        }


    }

    .textured-desc {
        margin-top: 32px;
        max-width: 770px;
        text-align: center;
        line-height: 1.7;

        @include max-media($bk-d-1200) {
            margin-top: 20px;
        }

        @include max-media($bk-d-992) {
            margin-top: 10px;
        }
    }

    .textured-img{
        img{
            min-height: 170px;
        }
    }
}

.specialty-finsh-wall {
    background-color: $g-F5F5-cl;
    padding: 96px 0;
    overflow: hidden;
    @include max-media($bk-d-1200){
        padding: 60px 0;
    }
    @include max-media($bk-d-992){
        padding: 40px 0;
    }

    .paint-head {
        max-width: 770px;
        margin: 0 auto 48px;
        @include max-media($bk-d-1200){
            margin-bottom: 30px;
        }
        @include max-media($bk-d-992){
            margin-bottom: 20px;
        }
        @include max-media($bk-d-768){
            margin-bottom: 15px;
        }
        
    }

    .paint-label {
        color: $main-cl;

        &::after,
        &::before {
            background-color: $main-cl !important;
        }
    }

    .columns {
        justify-content: space-between;
        @include max-media($bk-d-1900){
            align-items: center;
        }
    }

    .column {
        &.wall-tx {
            width: calc(100% / 12 * 5 + 30px);
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        &.wall-ig {
            width: calc(100% / 12 * 6);
            @include max-media($bk-d-1200){
                width: calc(100% / 12 * 7 - 30px);
            }
            @include max-media($bk-d-768){
                width: 100%;
            }
        }
    }


    .wall-inner {
        margin-bottom: 24px;
        @include max-media($bk-d-1200){
            margin-bottom: 20px;
        }
        @include max-media($bk-d-992){
            margin-bottom: 10px;
        }

        .wall-slide-t {
            margin-bottom: 24px;
            line-height: 1.3;
            @include max-media($bk-d-1200){
                margin-bottom: 15px;
            }
            @include max-media($bk-d-992){
                margin-bottom: 10px;
            }
        }

        .wall-slide-desc {
            line-height: 1.7;
        }
    }

    .wall-img {
        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .wall-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;
        border-top: 1px solid rgba($color: $b-cl, $alpha: .4);
        height: 100%;
        cursor: pointer;
        @include max-media($bk-d-1200){
            padding: 10px 0
        }
        .wall-b-tt {
            @include fz-16;
            font-weight: 600;
            transition: all .3s ease;
        }

        .wall-icon {
            transition: all .3s ease;
        }
    }

    .thumb-small {
        border-bottom: 1px solid rgba($color: $b-cl, $alpha: .4);
        border-top: 1px solid rgba($color: $b-cl, $alpha: .4);

        .swiper {
            max-height: 336px;
            @include max-media($bk-d-1200){
                max-height: 280px;
            }
            @include max-media($bk-d-992){
                max-height: 220px;
            }
        }

        .swiper-slide {
            &.swiper-slide-active {
                .wall-box {
                    border-top: 0;
                }
            }

            &.swiper-slide-thumb-active {
                .wall-b-tt {
                    color: $main-cl;
                }

                img {
                    transform: rotate(-180deg);
                }
            }


        }
    }

    .thumb-big {
        width: 747px;
        @include max-media($bk-d-1900){
            width: 100%;
        }
    }

    .swiper-act {
        width: 71px;
        height: 27px;
        margin-top: 37px;
        position: relative;
        @include max-media($bk-d-1200){
            margin-top: 15px;
        }
        @include max-media($bk-d-992){
            margin-top: 10px;
        }
        @include max-media($bk-d-768){
            width: 100%;
            height: auto;
        }
    }

    .swiper-pagination {
        color: $main-cl;
        @include fz-16;
        padding-bottom: 7px;
        @include max-media($bk-d-768){
            display: none;
        }
        .swiper-pagination-total {
            color: #C1C1C1;
        }
    }

    .swiper-scrollbar {
        position: absolute;
        left: 0%;
        bottom: 0px;
        z-index: 50;
        height: 1px;
        width: 100%;
        background-color: #C1C1C1;
        opacity: 1 !important;
        @include max-media($bk-d-768){
            height: 2px;
        }

        &-drag {
            background-color: $main-cl;
        }
    }



}