.box-notification {
    text-align: center;
    padding: 16px 0;
    background-color: $g-F5F5-cl;
    border-bottom: 1px solid rgba($color: $b-cl, $alpha: .12);

    .text-notifi {
        color: #E41A28;
        font-weight: 500;
        line-height: 1.7;
    }
}

.pays {
    padding-bottom: 95px;

    .pay-wrap-head {
        background-color: #FBFBFB;
        border-bottom: 1px solid rgba($color: $b-cl, $alpha: .12);
        padding: 28px 0 27px;
    }

    .pay-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pay-order {
        font-weight: 500;
        color: $w-cl;
        border-radius: 99px;
        padding: 16px 32px;
        height: auto;
        width: auto;
        position: relative;
        border: 1px solid $main-cl;
        background-color: $main-cl;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: $w-cl;
            transform-origin: center right;
            transform: scaleX(0);
            position: absolute;
            transition: transform 0.3s linear;
            left: 0;
            top: 0;
            z-index: -1;
        }

        &:hover {
            color: $main-cl;

            &::after {
                transform: scale(1);
                transform-origin: center left;

            }
        }
    }

    .pay-wrapper {
        margin-top: 56px;
    }

    .pay-table {
        width: 100%;

        thead {
            td {
                font-weight: 600;
                width: 20%;

                &:nth-child(1) {
                    width: 150px;
                }

                &:nth-child(2) {
                    width: calc(60% - 150px);
                }

                &:nth-child(3) {
                    text-align: right;
                }

                &:nth-child(4) {
                    text-align: right;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid rgba($color: $b-cl, $alpha: .16);
            }

            td {
                padding: 32px 0;

                &:nth-child(3) {
                    text-align: right;
                }

                &:nth-child(4) {
                    text-align: right;
                }
            }
        }

        .pay-color {
            width: 110px;
            height: 88px;
            border-radius: 5px;
            position: relative;

            .pay-cl-t {
                color: #B8B8B8;
                position: absolute;
                bottom: 7px;
                left: 7px;
                font-size: 12px;
                transition: all .3s ease;
            }

            &:hover {
                .pay-cl-t {
                    color: $main-cl;
                }
            }
        }

        .pay-content {
            display: flex;

            .pay-img {
                max-width: 88px;
            }

            .pay-text {
                padding-left: 32px;
            }

            .pay-tt {
                margin-bottom: 8px;
                @include fz-18;
                font-weight: 500;
                transition: all .3s ease;

                &:hover {
                    color: $main-cl;
                }
            }

            .pay-classification {
                font-weight: 500;
                color: $g-7C7C-cl;
                margin-bottom: 8px;
            }

            .pay-sll {
                font-weight: 500;
            }

        }

        .pay-qty {
            .cart-qty {
                position: relative;

            }

            .qty-plus,
            .qty-minus {
                position: absolute;
                right: 16px;
                outline: none;
                border: none;
                width: 8px;
                height: 8px;
                background-color: transparent;
                cursor: pointer;
            }

            .qty-plus {
                top: 9px;
            }

            .qty-minus {
                bottom: 10px;
            }

            .f-control {
                border-radius: 99px;
                border-color: rgba($color: $b-cl, $alpha: .1);
                width: 124px;
                height: 40px;
                font-weight: 600;
                transition: all .3s ease;

                &:hover,
                &:focus {
                    border-color: $main-cl;
                }
            }
        }

        .pay-close {
            color: #9A4892;
            margin-top: 8px;
            display: block;
            text-decoration: underline;
            transition: all .3s ease;

            &:hover {
                color: #E41A28
            }

        }

        .pay-price {
            @include fz-18;

        }
    }

    .pay-footer {
        margin-top: 32px;

        .pay-item {
            &:not(:first-child) {
                margin-top: 16px;
            }

            &.pay-fot {
                margin-top: 40px;
            }
        }


    }

    .pay-b {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pay-shoping {
        color: #0FBF4B;
        text-decoration: underline;
    }




}

.white-popup-block {
    &.block-pay {
        max-width: 830px;
        border-radius: 10px;
        padding: 48px 92px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.popup-pay {
    text-align: center;
   

    .pay-icon {
        margin-bottom: 16px;

        img {
            margin: 0 auto;
        }
    }

    .pay-title {
        margin-bottom: 24px;
        line-height: 1.4;
    }

    .pay-desc {
        font-weight: 500;
        color: #4F4F4F;
        line-height: 1.7;
        margin-bottom: 40px;
    }

    .pay-cls {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    .pay-imte {
        &:nth-child(2) {
            padding-left: 84px;
        }
    }

    .pay-bx {
        display: flex;
        text-align: left;
    }

    .pay-text {
        padding-left: 12px;
    }

    .pay-t {
        margin-bottom: 8px;
        color: $main-cl;
        @include fz-18;
    }

    .pay-lk {
        font-weight: 500;
        @include fz-16;
    }

    .pay-contact {
        display: inline-block;
        margin-bottom: 24px;
        width: auto;
        height: auto;
        padding: 16px 32px;
        border-radius: 99px;
        color: $w-cl;
        font-weight: 500;
        border: 1px solid $main-cl;
        background-color: $main-cl;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: #fff;
            transform-origin: center right;
            transform: scaleX(0);
            position: absolute;
            transition: transform 0.3s linear;
            left: 0;
            top: 0;
            z-index: -1;
        }

        &:hover {
            color: $main-cl;
            &::after {
                transform: scale(1);
                transform-origin: center left;
            }
        }
    }

    .pay-continu {
        display: block;
        color: #70B842;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: underline;
        transition: all .3s ease;
        &:hover{
            color: $main-cl;
        }
    }
}