.person-information {
    padding: 88px 0 96px;
    overflow: hidden;
    @include max-media($bk-d-1200){
        padding: 60px 0;
    }
    @include max-media($bk-d-992){
        padding: 40px 0;
    }

    .column {
        &.if-bar {
            width: calc(100% / 12 * 3);
            @include max-media($bk-d-992){
                width: calc(100% / 12 * 4);
            }
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        &.if-inr {
            width: calc(100% / 12 * 9);
            @include max-media($bk-d-992){
                width: calc(100% / 12 * 8);
            }
            @include max-media($bk-d-768){
                width: 100%;
            }
        }
    }

    .informat-sidebar {
        position: relative;
        height: 100%;

        &::after {
            content: '';
            width: 1px;
            height: calc(100% + 88px);
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-88px);
            background-color: rgba($color: $b-cl, $alpha: .12);
            @include  max-media($bk-d-768){
                display: none;
            }

        }
    }

    .informat-title {
        margin-bottom: 40px;
        @include max-media($bk-d-1200){
            margin-bottom: 30px;
        }
        @include max-media($bk-d-992){
            margin-bottom: 25px;
        }
        @include max-media($bk-d-768){
            margin-bottom: 15px;
        }
    }

    .informat-list {
        .informat-item {
            &:not(:first-child) {
                margin-top: 16px;
                @include max-media($bk-d-768){
                    margin-top: 10px;
                }
            }
        }

        .informat-link {
            display: flex;
            align-items: center;
            color: $g-7C7C-cl;
            @include fz-16;
            font-weight: 500;
            border-right: 3px solid transparent;
            transition: all .3s ease;


            img {
                margin-right: 10px;
                filter: contrast(0);
                transition: all .3s ease;
            }

            &:hover {
                color: $b-cl;
                border-color: $main-cl;
                font-weight: 600;

                img {
                    filter: none;
                }
            }

            &.active {
                color: $b-cl;
                font-weight: 600;
                border-color: $main-cl;

                img {
                    filter: none;
                }
            }
        }


    }

    //information preson
    .informat-inner {
        padding-left: 32px;
        @include max-media($bk-d-1200){
            padding-left: 15px;
        }
        @include max-media($bk-d-992){
            padding-left: 0px;
        }

        .infor-head {
            margin-bottom: 40px;
            @include max-media($bk-d-1200){
                margin-bottom: 30px;
            }
            @include max-media($bk-d-992){
                margin-bottom: 20px;
            }

            .infor-title {
                margin-bottom: 8px;
                line-height: 1.4;
                @include max-media($bk-d-992){
                    margin-bottom: 5px;
                }
            }

            .infor-email {
                color: $g-7C7C-cl;
            }
        }

        .infor-group {
            display: flex;
            flex-wrap: wrap;
            margin: -20px -15px;
            @include max-media($bk-d-1200){
                margin: -15px;
            }
            @include max-media($bk-d-992){
                margin: -7.5px;
            }
        }

        .infor-gr {
            margin-top: 32px;
            padding-top: 32px;
            border-top: 1px solid rgba($color: $b-cl, $alpha: .16);
            @include max-media($bk-d-992){
                margin-top: 25px;
                padding-top: 20px;
            }
        }

        .infor-tt {
            margin-bottom: 24px;
            @include max-media($bk-d-1200){
                margin-bottom: 20px;
            }
            @include max-media($bk-d-992){
                margin-bottom: 15px;
            }
        }

        .infor-f {
            padding: 20px 15px;
            width: 50%;
            @include max-media($bk-d-1200){
                padding: 15px;
            }
            @include max-media($bk-d-992){
                padding: 7.5px;
            }
            @include max-media($bk-576){
                width: 100%;
            }
        }

        .infor-w {
            position: relative;
        }

        .f-control {
            padding: 12px 16px;
            background-color: $g-F5F5-cl;
            border: 1px solid rgba($color: $b-cl, $alpha: .2);
            height: 48px;
            width: 100%;
            transition: all .3s ease;
            @include max-media($bk-d-768){
                height: 44px;
                padding: 10px 16px;
            }

            &:hover,
            &:focus {
                border-color: $main-cl;
            }

            &.password {
                padding-right: 40px;
            }
        }

        .act-but {
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            cursor: pointer;

            &.hide {
                .fa-eye-slash {
                    display: none;
                }
            }

            &.show {
                .fa-eye {
                    display: none;
                }
            }
        }

        .infor-submit {
            margin-top: 56px;
            font-weight: 500;
            background-color: $main-cl;
            color: $w-cl;
            border-radius: 50px;
            // width: 170px;
            // height: 50px;
            width: auto;
            padding: 15px 32px;
            cursor: pointer;
            border: 1px solid $main-cl;
            @include max-media($bk-d-1200){
                margin-top: 35px;
            }
            @include max-media($bk-d-992){
                margin-top: 30px;
                padding: 10px 20px;
            }

            &:hover {
                box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .16);
                background-color: $w-cl;
                color: $main-cl;
                letter-spacing: 1px;
            }

        }
    }

    //list heart
    .heart-inner {
        padding-left: 32px;
        @include max-media($bk-d-1200){
            padding-left: 15px;
        }
        @include max-media($bk-d-992){
            padding-left: 0px;
        }

        .heart-title {
            margin-bottom: 48px;
            @include max-media($bk-d-1200){
                margin-bottom: 30px;
            }
            @include max-media($bk-d-992){
                margin-bottom: 20px;
            }
        }

        .heart-list {
            display: flex;
            flex-wrap: wrap;
            margin: -16px -10px;
            @include max-media($bk-d-1200){
                margin: -10px;
            }
            @include max-media($bk-d-992){
                margin:-10px -5px;
            }
        }

        .heart-item {
            padding: 16px 10px;
            width: calc(100% / 5);
            @include max-media($bk-d-1200){
                padding: 10px;
                width: calc(100% / 4);
            }
            @include max-media($bk-d-992){
                padding: 10px 5px;
                width: calc(100% / 3);
            }
            @include  max-media($bk-576){
                width: calc(100% / 2);
            }
        }

        .heart-box {
            position: relative;
            display: inline-block;
            width: 100%;
            &:hover {
                .heart-close {
                    @include visible;
                }

                .heart-tt {
                    color: $main-cl;
                }
            }

            .heart-close {
                position: absolute;
                top: 5px;
                right: 5px;
                transform: translate(0%, 0%);
                z-index: 1;
                @include hidden;
                transition: all .3s ease;
            }

            .heart-color {
                width: 100%;
                height: 80px;
            }

            .heart-tt {
                @include fz-16;
                font-weight: 500;
                line-height: 1.5;
                margin-top: 8px;
                transition: all .3s ease;
                @include max-media($bk-d-992){
                    margin-top: 5px;
                }
            }

        }

        .heart-link {
            font-weight: 500;
            text-transform: uppercase;
            color: $w-cl;
            background-color: $main-cl;
            padding: 16px 32px;
            border-radius: 50px;
            border: 1px solid $main-cl;
            transition: all .3s ease;
            display: inline-block;
            margin-top: 40px;
            @include max-media($bk-d-992){
                margin-top: 30px;
                padding: 12px 20px;
            }

            &:hover {
                color: $main-cl;
                background-color: $w-cl;
                box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .16);
            }
        }
    }

    //order history
    .history-inner {
        padding-left: 32px;
        @include max-media($bk-d-1200){
            padding-left: 15px;
        }
        @include max-media($bk-d-992){
            padding-left: 0px;
        }
        .history-head {
            margin-bottom: 32px;
            padding-bottom: 32px;
            border-bottom: 1px solid rgba($color: $b-cl, $alpha: .12);
            @include  max-media($bk-d-1200){
                margin-bottom: 25px;
                padding-bottom: 20px;
            }
        }

        .history-title {
            margin-bottom: 24px;
            line-height: 1.2;
            @include max-media($bk-d-1200){
                margin-bottom: 15px;
            }
            @include max-media($bk-d-992){
                margin-bottom: 10px;
            }
        }

        .history-desc {
            color: #4F4F4F;
            line-height: 1.5;

            .history-lk {
                color: #006DED;
                font-weight: 600;
            }
        }

        .history-search {
            margin-bottom: 32px;
            @include max-media($bk-d-1200){
                margin-bottom: 20px;
            }
            .history-f {
                position: relative;
            }

            .f-control {
                border-color: rgba($color: $b-cl, $alpha: .2);
                background-color: #EEEEEE;
                transition: all .3s ease;
                border-radius: 5px;
                height: 48px;
                padding: 12px 12px 12px 50px;

                &:hover,
                &:focus {
                    border-color: $main-cl;
                }

                &::placeholder {
                    color: $g-7C7C-cl;
                }
            }

            .history-icon {
                position: absolute;
                top: 50%;
                left: 16px;
                transform: translateY(-50%);
            }


        }

        .history-tt {
            margin-bottom: 24px;
            @include max-media($bk-d-1200){
                margin-bottom: 15px;
            }
        }

        .history-item {
            &:not(:first-child) {
                margin-top: 24px;
                @include max-media($bk-d-1200){
                    margin-top: 20px;
                }
            }
        }

        .history-box {
            background-color: $g-F5F5-cl;
            border: 1px solid rgba($color: $b-cl, $alpha: .15);
            border-radius: 10px;
        }

        .history-info {
            display: flex;
            align-items: center;
            padding: 24px 16px ;
            justify-content: space-between;
            border-bottom: 1px solid rgba($color: $b-cl, $alpha: .2);
            @include max-media($bk-d-992){
                padding: 15px 10px 0;
                flex-direction: column;
                // align-items: flex-start;
            }
        }

        .history-tx{
            display: flex;
            align-items: center;
            width: calc(100% - 150px);
            @include max-media($bk-d-992){
                width: 100%;
                align-items: flex-start;
            }

            .history-img{
                flex-shrink: 0;
                img{
                    // width: 100%;
                    height: 100%;
                    max-width: 100%;
                    object-fit: cover;
                }
            }

            .history-text{
                padding-left: 24px;
                @include max-media($bk-d-992){
                    padding-left: 8px;
                }
            }

            .history-t{
                margin-bottom: 8px;
                display: inline-block;
                transition: all .3s ease;
                &:hover{
                    color: $main-cl;
                }
            }

            .history-classify{
                color: $g-7C7C-cl;
                margin-bottom: 8px;
            }
        }

        .history-pri{
            width: 150px;
            text-align: right;
            @include max-media($bk-d-992){
                width: auto;
                width: 100%;
                transform: translateY(-100%);
            }
        }

        .history-ft{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 16px;
            @include max-media($bk-d-992){
                padding: 13px 10px;
                // flex-direction: column-reverse;
                // align-items: flex-end;
            }
        }

        .history-act{
            display: flex;
            align-items: center;
        }

        .history-buy{
            background-color: $main-cl;
            color: $w-cl;
            font-weight: 500;
            padding: 10px 32px 11px;
            border-radius: 50px;
            margin-right: 16px;
            text-transform: uppercase;
            transition:  all .3s ease;
            @include max-media($bk-d-1200){
                padding: 10px 20px 11px;
            }
            @include max-media($bk-d-992){
                margin-right: 0;
            }
            @include max-media($bk-d-768){
                padding: 8px 10px;
            }
            @include max-media($bk-576){
                font-size: 12px;
                text-transform: uppercase;
            }
            
        }

        .history-contact{
            background-color:transparent;
            color: $main-cl;
            border: 1px solid $main-cl;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 500;
            padding: 10px 32px;
            border-radius: 50px;
            transition: all .3s ease;
            @include max-media($bk-d-1200){
                padding: 10px 20px;
            }
            @include max-media($bk-d-992){
                display: none;
            }
            &:hover{
                color: $w-cl;
                background-color: $main-cl;
            }
        }

        .history-total{
            padding-left: 10px;
            @include max-media($bk-d-576){
                padding-left: 0px;
            }
        }

        .history-to{
            display: flex;
            align-items: center;
            span{
                margin-left: 16px;
                @include max-media($bk-576){
                    margin-left: 5px;
                    font-size: 16px;
                }
            }
        }
    }
}