.brand-page {
    padding-top: 88px;

    .paint-head {
        margin-bottom: 88px;

        .paint-label {

            &::after,
            &::before {
                background-color: $main-cl !important;
            }
        }

        .paint-title {
            margin-bottom: 32px;
            color: $b-D1D1-cl;
        }

        .brand-desc {
            line-height: 1.7;
            max-width: 770px;
            margin: 0 auto;
        }
    }

    .brand-slide {
        background-color: wheat;
        overflow: hidden;
    }

    .brand-link {
        height: calc(100vh - 80px);
        height: 100%;
        display: block;
        position: relative;

        .brand-tx {
            position: relative;
            top: 50%;
            left: unset;
            transform: translate(0, -50%);
            z-index: 1;
            width: 50%;

            .txt{
                margin: 0 auto;
                max-width: 475px;
            }

            .brand-desc{
                margin-top: 32px;
                line-height: 1.5;
            }

            .btn-txt{
                margin-top: 32px;
                text-transform: uppercase;
                font-weight: 600;
                position: relative;
                &::before{
                    content: '';
                    width: 40px;
                    height: 1px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    background-color: $b-cl;
                }
            }
        }


        .brand-img {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            overflow: hidden;
        }

        .img-clipper {
            overflow: hidden;
            height: 100%;
            position: relative;
            top: 0;
            right: 0;
            img{
                width: 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;

            }
        }
    }



}